<!-- footer   ***   -->
<footer id="common_footer">

    <div class="comm_footer_text">
        <p class="comm_footer_text1">
            Hogwarts School of Witchcraft and Wizardry
        </p>
        <p class="comm_footer_text2">
            Never go into a forbidden forest.
        </p>
        <p class="comm_copyright">
            ⓒ 2023.Harry potter and best team. All rights reserved.
        </p>
    </div>
    <img src="../static/img/khlll/hogwarts_logo_white_comm.png" alt="footer hogwarts logo" class="comm_footer_logo">
</footer>