<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/history.css">
    <title>history </title>
</head>
<body>
    <div class="his_cnt">
        <div class="his_paper"></div>
        <!-- 도입 컨테이너-->
        <div class="his_infoCnt">
            <div class="his_paper"></div>
            <!-- 네비제외 -->
            <div class="his_infoTitleCnt">
                <!-- 타이틀 our history -->
                <div class="his_title">
                    <span class="his_titleTxt his_Our">Our</span>
                    <span class="his_titleTxt his_History">History</span>
                </div>
                <div><img class="his_line" src="../static/img/jiwon/Line.svg" alt="line"></div>
                <!-- 타이틀 아래 문구 -->
                <div class="his_detailCnt">
                    <p class="his_deTxt">천년의 역사를 자랑하는 명문 마법 학교<br>호그와트에 오신 걸 환영합니다.</p>
                    <p class="his_deTxt">마법사 세계에서 가장 안전한 곳,<br>자신의 역량을 펼칠 수 있는 곳,<br>뛰어난 마법사의 뒤를 따라갈 수 있는 곳</p>
                    <p class="his_deTxt">다양한 업적을 자랑하는<br>호그와트의 역사를 소개합니다.</p>
                </div>
            </div>
            <!-- 네비 -->
            <nav class="his_navCnt">
                <a href="#10th" class="his_nav0 his_nav">10th</a>
                <a href="#13th" class="his_nav1 his_nav">13th</a>
                <a href="#18th" class="his_nav2 his_nav">18th</a>
                <a href="#19th" class="his_nav3 his_nav">19th</a>
                <a href="#20th" class="his_nav4 his_nav">20th</a>
            </nav>
        </div>
        <!-- 도입 끝 -->
        <!-- 연혁 시작 -->
        <div class="his_yearCnt">
            <div class="his_yearFlex2">
                <div class="his_paper his_paph"></div>
                <div class="his_year10 his_yearFlex his_upDownCnt"></div>
                <a name="10th" class="his_0nav his_year">Late 10th century</a>
            </div>
            <div class="his_yearFlex2">
                <div class="his_paper his_paph"></div>
                <div class="his_year13 his_yearFlex his_upDownCnt"></div>
                <a name="13th" class="his_1nav his_year">13th century</a>
            </div>
            <div class="his_yearFlex2">
                <div class="his_paper"></div>
                <div class="his_year18 his_yearFlex his_upDownCnt"></div>
                <a name="18th" class="his_2nav his_year">18th century</a>
            </div>
            <div class="his_imgCnt">
                <div class="his_paper"></div>
                <img class="his_img his_express" src="../static/img/jiwon/HogwartsExpress3.png" alt="HogwartsExpress">
            </div>
            <div class="his_yearFlex2">
                <div class="his_paper"></div>
                <div class="his_year19 his_yearFlex his_upDownCnt"></div>
                <a name="19th" class="his_3nav his_year">19th century</a>
            </div class="his_yearFlex2">
            <div class="his_yearFlex2">
                <div class="his_paper"></div>
                <div class="his_year20 his_yearFlex his_upDownCnt"></div>
                <a name="20th" class="his_4nav his_year">20th century</a>
            </div>
            <div class="his_imgCnt">
                <img class="his_img his_mcgonagall" src="../static/img/jiwon/Minerva_McGonagall5.jpeg" alt="McGonagall">
                <div class="his_paper"></div>
            </div>
            <!-- <div class="his_lineLong"></div> -->
        </div>
    </div>
</body>
<script src="../static/js/history.js"></script>
</html>