<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/house_test.css">
    <title>House Test</title>
</head>
<body>
    <header></header>
    <div class="HouseTest_container">
        <div></div>
        <div class="HouseTest_center">
            <div class="HouseTest_img">
                <img src="" alt="">
            </div>
            <div class="houseTest_qes">
                
            </div>
            <div class="houseTest_ansList">
                <ul>
                    <li>
                        <label><input type="radio" name="houseTest_g" value="" />햇살이 내리쬐며 풀로 덮인 탁 트인 길</label>
                    </li>
                    <li>
                        <label><input type="radio" name="houseTest_g" value="" />가로등이 켜져있는 비좁고 어두운 골목</label>
                    </li>
                    <li>
                        <label><input type="radio" name="houseTest_g" value="" />구불구불하고 나뭇잎이 흩뿌려져 있는 오솔길</label>
                    </li>
                    <li>
                        <label><input type="radio" name="houseTest_g" value="" />오래된 건물이 줄지어 있는 자갈길</label>
                    </li>
                </ul>
            </div>
        </div>
        <div></div>
    </div>
    <footer></footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.2.4/pixi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
<script src="../static/js/house_test.js"></script>
</html>