<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

    <link rel="stylesheet" href="../css/scss/common.css">
    <link rel="stylesheet" href="../css/scss/common_header.css">
    <link rel="stylesheet" href="../css/scss/common_footer.css">
    <link rel="stylesheet" href="../css/scss/house_detail.css">

    <title>Hogwarts School Detail</title>
</head>

<body>
    <div id="comm_container">
        <header id="common_header"></header>
        <div id="house_detail_contents">
            <div class="house_detail_intro">
                <div class="house_detail_intro_textbox">
                    <div class="house_detail_title">
                        <p class="house_detail_sub_title">COURAGE AND BRAVERY</p>
                        <h1 class="house_detail_title_name">Gryffindor</h1>
                    </div>
                    <div class="house_detail_about">
                        <h3 class="house_detail_about_greet">WELCOME TO GRYFFINDOR</h3>
                        <p class="house_detail_about_text">그리핀도르 출신으로 널리 알려진 인물은 알버스 덤블도어와 해리포터입니다.<br>
                            그러나 그리핀도르의 검이 1000년 전 고블린에 의해 제작되었다는 것과 기숙사 사감인 맥고나걸 교수는 취미 생활로
                            변신술과 관련된 기사를 수집하며 몬트로즈 맥파이즈 퀴디치팀의 열성팬이라는 사실도 여러분은 알고있나요?</p>
                    </div>
                </div>
                <div class="house_detail_navi">
                    <svg width="35" height="17" viewBox="0 0 35 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M33.67 1.27295L20.3584 14.5846C18.7863 16.1567 16.2138 16.1567 14.6417 14.5846L1.33002 1.27295"
                            stroke="#EFEFEF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <!-- <div class="house_detail_dummy"></div> -->
            <div class="house_detail_main">
                <div class="house_detail_section1">
                    <div class="house_detail_s1_text">
                        <p class="house_detail_s1_word">“Teach any child who shows courage worthy of his name.”</p>
                        <h2 class="house_detail_s1_title">Godric Gryffindor</h2>
                        <p class="house_detail_s1_about">
                            10세기 잉글랜드의 고드릭 골짜기에서 태어난 마법사로, ‘황야에서 온 용감한 그리핀도르’라고 칭해진다.<br>
                            마법사인 동시에 검술에도 일가견이 있어서 당대 최고의 전사라고 불릴 만큼 뛰어난 마법 실력과 전투력을 자랑했다.<br>
                            용기와 결의, 강인하면서도 숭고한 마음을 최고의 가치로 여겨 대담함과 고결하고 정의로운 기사도 정신을 지닌 학생을 육성하자고 하였다.
                        </p>
                    </div>
                    <div class="house_detail_s1_illust">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 632.79 991.48">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #c5baa4;
                                        stroke-miterlimit: 10;
                                        stroke-width: 5px;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1"
                                        d="M284.48,155c-13-15-17-28-17-28s9-44,5-56,23-36,23-36c21,0,33-6,33-6a42,42,0,0,1,24-2s0-22-33-23c0,0-39-13-65,38,0,0-19,26-17,55,0,0,4,23,0,33s-35,47-17,82c0,0,19,30,18,62,0,0-6,32,34,43,0,0,42,4,35,44l73-40s13-32,35-47c0,0,56-50-11-142,14-18,0-37,0-37-10-15-14-24-14-24-.23-.86-.46-1.7-.69-2.53C370-2.46,351.2,21.07,351.2,21.07" />
                                    <path class="cls-1" d="M367.48,88c-4-14-17-8-26-7s-9,7-9,7-1,12,0,18" />
                                    <path class="cls-1" d="M317.48,88s1-7-13-7-16-5-24,6c0,0-5,7-8.13,9.81" />
                                    <path class="cls-1" d="M316.48,127s6-3,8,1,6,0,6,0a6.18,6.18,0,0,1,7-1" />
                                    <path class="cls-1" d="M326.48,130s-11-7-37,21-4,46-4,46,21,16-11,35" />
                                    <path class="cls-1" d="M352.48,27s27,16,24,76c0,0,5,16-7,39,0,0-16-13-29-12" />
                                    <path class="cls-1" d="M277.18,173.14s9.3,1.84,25.3-16.16,25-13,25-13" />
                                    <path class="cls-1"
                                        d="M96.39,241.82S144.48,269,153.48,288s12,36,57,87a172.62,172.62,0,0,1,4,44c-65-58-69-84-76-98s-75-57-75-57c132-90,153-91,153-91" />
                                    <path class="cls-1"
                                        d="M417.24,151.43S489.48,185,474.48,205c0,0,77,40,100,81s24,75,24,75S446,340.43,428.26,256.2" />
                                    <path class="cls-1"
                                        d="M238.36,327s8.12,36,64.12,66c0,0,18-27,62-44,0,0,42-19.06,40-65.53" />
                                    <path class="cls-1" d="M330.48,160s19,22,5,52-41,57,7,93c0,0,21,15.44-8,41.22" />
                                    <path class="cls-1" d="M359.48,182s12,21-19,60c0,0-22,27,9,47" />
                                    <path class="cls-1"
                                        d="M214.48,419s15,23-17,46c0,0-22,13,23,48,0,0,41-46,26-128s-8-113-8-113" />
                                    <path class="cls-1"
                                        d="M307.22,387.07S319.48,392,327.48,408c0,0,35.29-30.8,67-59,36-32,23-77,23-77" />
                                    <path class="cls-1" d="M360.48,379s2,52-17,187" />
                                    <path class="cls-1" d="M339.48,440s11.27,50.79,6.64,106.9" />
                                    <path class="cls-1" d="M307.48,440s19,61,0,134" />
                                    <path class="cls-1" d="M265.48,643c27-71-22.24-277-22.24-277" />
                                    <path class="cls-1"
                                        d="M598.48,361s43,79,29,117-101-26-101-26-25,22-53,49h-37l-43,65s28,59,54,39,45-48,76-50,76-28,96-67" />
                                    <path class="cls-1" d="M71.71,269.28S26.48,301,37.48,317l18,26" />
                                    <path class="cls-1" d="M37.32,304.63S67.48,304,77.48,319" />
                                    <path class="cls-1"
                                        d="M105.48,292s-156,131-84,201c0,0,63-103,124-26,0,0,27,37,33,76s30,49,55,64c0,0,30,18,32,36,0,0,0,2,1.38-3.92" />
                                    <path class="cls-1" d="M519.48,428s41-33,67-18S558.48,410,519.48,428Z" />
                                    <path class="cls-1"
                                        d="M511.48,466s-70-47-30-82c7.14-6.24-18.83-75.63-18.83-75.63" />
                                    <path class="cls-1" d="M140,324.23S104.48,371,142.48,402" />
                                    <path class="cls-1" d="M403.12,340s50.78-29.48,67.07-10.24" />
                                    <path class="cls-1"
                                        d="M111.22,595.84S149.48,625,151.48,649c-28,103-33,75-33,75C75.48,528,174,524,174,524" />
                                    <path class="cls-1" d="M151.48,649s11,47,41,54,74-14,74-14l7-23-43.88-61.3" />
                                    <path class="cls-1"
                                        d="M323.48,403s-28,3-24,26c0,0,0,13,25,15,0,0,25,4,19-28,0,0-2-10-11-12" />
                                    <path class="cls-1" d="M273.57,566a148.12,148.12,0,0,0,47.91,8" />
                                    <path class="cls-1" d="M273.57,613.63S286.48,621,321.48,618V566l42-4v60l-42,4v-8" />
                                    <path class="cls-1" d="M363.48,570s16-2,31-5.48" />
                                    <path class="cls-1" d="M363.49,615.7s32.53-2.2,55.26-14.46" />
                                    <path class="cls-1"
                                        d="M271.41,663.08S391.48,703,423.48,830c0,0,7,28,7,44s-5-19-42-29-134,66-141,74-21,26,12,65c0,0,19,20-43-20-67-43.24,25-229,30-237,0,0,2.47-16.41-11.76-26.7" />
                                    <line class="cls-1" x1="297.53" y1="618.48" x2="294.92" y2="673.42" />
                                    <line class="cls-1" x1="343.36" y1="625.98" x2="344.41" y2="706.04" />
                                    <line class="cls-1" x1="384.86" y1="612.62" x2="404.58" y2="779.97" />
                                    <path class="cls-1"
                                        d="M419.48,648l113-72s13-18-9-19l-112,71s-11.92,7.52-6,17C410.48,653,419.48,648,419.48,648Z" />
                                    <path class="cls-1" d="M430.48,507c-5-4-11,0-11,0l-21,17s-10.81,10.46,6.1,25.23" />
                                    <path class="cls-1" d="M397.48,524c-24,1-21-25-21-25l21-17s23-3,22,25" />
                                    <path class="cls-1" d="M397.48,482c5-11-4-10-4-10l-25,19s-7,8,8,8" />
                                    <line class="cls-1" x1="453.01" y1="624.98" x2="509.28" y2="709.3" />
                                    <line class="cls-1" x1="491.85" y1="600.24" x2="536.3" y2="667.28" />
                                    <path class="cls-1" d="M420.3,821.3c72.28-77.88,146-181,173-297.29" />
                                    <path class="cls-1" d="M249.78,971.19s68.71-46.43,145.6-123.93" />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="house_detail_section2">
                    <div class="house_detail_s2_main">
                        <div class="house_detail_s2_symbol">
                            <div class="house_detail_s2_symbol_main">
                                <div class="house_detail_s2_symbol_1">
                                    <h4 class="house_detail_s2_symbol_title">LION</h4>
                                    <p class="house_detail_s2_text">그리핀도르의 상징 동물, 위엄과 용맹의 의미</p>
                                </div>
                                <div class="house_detail_s2_symbol_2">
                                    <h4 class="house_detail_s2_symbol_title">FIRE</h4>
                                    <p class="house_detail_s2_text">그리핀도르의 상징 요소, 뜨거움과 강렬함의 의미</p>
                                </div>
                            </div>
                            <!-- <div class="house_detail_s2_symbol_bgText">
                                <p>Symbol</p>
                            </div> -->
                        </div>
                        <div class="house_detail_s2_central_char">
                            <div class="house_detail_s2_central_char_middle">
                                <div class="house_detail_s2_central_char1 house_detail_slide_about">
                                    <div class="house_detail_s2_central_char1-2 max480">
                                        <p>More</p>
                                    </div>
                                    <ul class="house_detail_s2_about_box swiper-wrapper">
                                        <li class="house_detail_s2_about house_detail_s2_about1 swiper-slide">
                                            <p>
                                                호그와트 마법학교 교감 겸 변환 마법 교수.<br><br>
                                                공식적으로 등록된 금세기 7명 밖에 없는 애니마구스 중 한 명이며,
                                                변신할 수 있는 동물은 고양이이다. 공정하고 엄격하여 그 어떤
                                                기숙사 학생이여도 결코 차별 혹은 편애하지 않는다.
                                                지킬 건 확실히 지키면서 마음을 다해 그리핀도르 학생들을 아끼는
                                                모범적인 스승이다.
                                            </p>
                                        </li>
                                        <li class="house_detail_s2_about house_detail_s2_about2 swiper-slide">
                                            <p>
                                                그리핀도르 기숙사의 문지기.<br><br>
                                                학생들이 기숙사에 들어올 때마다 암호를 물어보며 옳은 암호를 댔을 경우에는 자신이 비켜주고
                                                기숙사 문으로 다가갈 수 있게 해준다. 파티가 열릴 때는 자신의 친구인 또다른 초상화 인물 바이올렛을
                                                자신의 액자로 불러 함께 술을 마시기도 한다.
                                            </p>
                                        </li>
                                        <li class="house_detail_s2_about house_detail_s2_about3 swiper-slide">
                                            <p>
                                                그리핀도르 기숙사의 유령.<br><br>
                                                '목이 달랑달랑한 닉'이라는 별명을 가지고 있으며, 풀네임은 니컬러스 드 밈시포핑턴 경(Sir Nicholas de
                                                Mimsy-Porpington).
                                                왕정 마법사였지만 귀부인의 치아를 교정하려다 상아를 자라게 한 죄로 참수형으로
                                                비참하게 죽었는데,
                                                본인 말에 따르면 날이 무딘 도끼로 목을 45번이나 쳤는데도 1.5센티미터가 안 잘렸다고 한다.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="house_detail_s2_central_char2 house_detail_slide_pic">
                                    <ul class="house_detail_s2_pic_box swiper-wrapper">
                                        <li class="house_detail_s2_pic house_detail_s2_pic1 swiper-slide">
                                            <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 사감"
                                                class="house_detail_s2_pic_hover house_detail_s2_pic1_hover">
                                        </li>
                                        <li class="house_detail_s2_pic house_detail_s2_pic2 swiper-slide">
                                            <img src="../images/house_pic_housepage.jpg" alt="그리핀도르 액자"
                                                class="house_detail_s2_pic_hover house_detail_s2_pic2_hover">
                                        </li>
                                        <li class="house_detail_s2_pic house_detail_s2_pic3 swiper-slide">
                                            <img src="../images/house_ghost_housepage.jpg" alt="그리핀도르 유령"
                                                class="house_detail_s2_pic_hover house_detail_s2_pic3_hover">
                                        </li>
                                    </ul>
                                </div>
                                <div class="house_detail_s2_central_char3">
                                    <div class="house_detail_s2_central_char3_text">
                                        <div class="house_detail_slide_title_name">
                                            <ul class="house_detail_s2_central_char_title_name_box swiper-wrapper">
                                                <li
                                                    class="house_detail_s2_central_char_title_name house_detail_s2_central_char_title_name1 swiper-slide">
                                                    <p class="house_detail_s2_central_char_title">Housemaster</p>
                                                    <p class="house_detail_s2_central_char_name min481">
                                                        Minerva<br>McGonagall
                                                    <p
                                                        class="house_detail_s2_central_char_name house_detail_s2_central_char_name_max480">
                                                        Minerva McGonagall</p>
                                                    </p>
                                                </li>
                                                <li
                                                    class="house_detail_s2_central_char_title_name house_detail_s2_central_char_title_name2 swiper-slide">
                                                    <p class="house_detail_s2_central_char_title">Painting</p>
                                                    <p class="house_detail_s2_central_char_name">Fat lady</p>
                                                </li>
                                                <li
                                                    class="house_detail_s2_central_char_title_name house_detail_s2_central_char_title_name3 swiper-slide">
                                                    <p class="house_detail_s2_central_char_title">Ghost</p>
                                                    <p class="house_detail_s2_central_char_name">Sir Nicholas</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <svg width="174" height="24" viewBox="0 0 174 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="house_detail_slide_btn">
                                        <path
                                            d="M173.061 13.0607C173.646 12.4749 173.646 11.5251 173.061 10.9393L163.515 1.3934C162.929 0.807611 161.979 0.807611 161.393 1.3934C160.808 1.97919 160.808 2.92893 161.393 3.51472L169.879 12L161.393 20.4853C160.808 21.0711 160.808 22.0208 161.393 22.6066C161.979 23.1924 162.929 23.1924 163.515 22.6066L173.061 13.0607ZM0 13.5H172V10.5H0V13.5Z"
                                            fill="#504733" />
                                    </svg>
                                </div>
                                <div class="house_detail_s2_central_char4 max480">
                                    <p class="house_detail_s2_central_char4_next">Next</p>
                                    <svg width="174" height="24" viewBox="0 0 174 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="house_detail_slide_btn">
                                        <path
                                            d="M173.061 13.0607C173.646 12.4749 173.646 11.5251 173.061 10.9393L163.515 1.3934C162.929 0.807611 161.979 0.807611 161.393 1.3934C160.808 1.97919 160.808 2.92893 161.393 3.51472L169.879 12L161.393 20.4853C160.808 21.0711 160.808 22.0208 161.393 22.6066C161.979 23.1924 162.929 23.1924 163.515 22.6066L173.061 13.0607ZM0 13.5H172V10.5H0V13.5Z"
                                            fill="#504733" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house_detail_motto">
                    <p>A dormitory for the brave and bold</p>
                </div>
                <div class="house_detail_section3">
                    <div class="house_detail_s3_letter">
                        <p class="house_detail_s3_text">
                            축하해! 나는 반장인 퍼시 위즐리야.<br>
                            네가 그리핀도르 기숙사에 온 것을 환영해.<br>
                            우리의 상징은 동물 중에서 가장 위대한 사자야.<br>
                            우리 기숙사의 색은 진홍색과 금색이고 우리 기숙사 휴게실은 그리핀도르 탑에 있어.<br>
                            여기는 간단히 말하자면 호그와트에서 가장 좋은 기숙사야.<br><br>
                            여기는 가장 용감하고 대담한 사람들이 모인 곳이야.<br>
                            예를 들면 알버스 덤블도어!<br>
                            맞아! 덤블도어 말야. 우리 시대 가장 위대한 마법사가 그리핀도르 출신이야!<br>
                            만약 이 사실로도 소개가 충분하지 않다면...나도 모르겠다.<br>
                            난 오래 노닥거릴 시간이 없어!<br>
                            호그와트에서의 시간을 즐기도록 해.<br>
                            어떻게 안 그러겠어? 우리학교에서 가장 좋은 기숙사에 들어오게 됐는데.
                        </p>
                        <img src="../images/letter_housepage.png" alt="기숙사 반장 편지" class="house_detail_s3_paper">
                    </div>
                    <div class="house_detail_s3_message">
                        <p class="house_detail_s3_say">Hello,</p>
                        <p class="house_detail_s3_name">김그린</p>
                    </div>
                </div>

                <div class="house_detail_section4">
                    <div class="house_detail_s4_points_title">
                        <h3 class="house_detail_s4_points_housecup">HOUSECUP</h3>
                        <h2 class="house_detail_s4_points_name">Gryffindor</h2>
                        <div class="house_detail_s4_points_number">
                            <h3>120,293</h3>
                            <p>points</p>
                        </div>
                        <!-- <div class="house_detail_s4_points_icon"></div> -->
                    </div>
                    <div class="house_detail_s4_main">
                        <div class="house_detail_s4_main_select">
                            <div class="house_detail_s4_main_select_choice">
                                <div class="house_detail_s4_main_select_choice_box">
                                    <div class="house_detail_s4_main_select_one">Year 5</div>
                                    <div class="house_detail_s4_main_select_btn">
                                        <svg width="29" height="15" viewBox="0 0 29 15" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.99832 1L14.9983 14L27.9983 1" stroke="#504733" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <ul class="house_detail_s4_main_select_list">
                                <li class="house_detail_s4_main_select_list1">Entire School</li>
                                <li class="house_detail_s4_main_select_list2">Year 1</li>
                                <li class="house_detail_s4_main_select_list3">Year 2</li>
                                <li class="house_detail_s4_main_select_list4">Year 3</li>
                                <li class="house_detail_s4_main_select_list5">Year 4</li>
                                <li class="house_detail_s4_main_select_list6">Year 5</li>
                                <li class="house_detail_s4_main_select_list7">Year 6</li>
                                <li class="house_detail_s4_main_select_list8">Year 7</li>
                            </ul>
                        </div>
                        <div class="house_detail_s4_main_list">
                            <ul class="house_detail_s4_main_list_contents">
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                                <li class="house_detail_s4_main_list_item">
                                    <div class="house_detail_s4_main_list_item_pic">
                                        <img src="../images/house_housemaster_housepage.jpg" alt="그리핀도르 기숙사생 프로필 사진">
                                    </div>
                                    <div class="house_detail_s4_main_list_item_name">
                                        <p>Minerva McGonagall</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_year">
                                        <p>7th year</p>
                                    </div>
                                    <div class="house_detail_s4_main_list_item_points">
                                        <p>6,141 Points</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="house_detail_letter_expand max480">
            <div class="house_detail_letter_expand_closeBtn"></div>
            <div class="house_detail_letter_expand_text">
                <p>
                    축하해! 나는 반장인 퍼시 위즐리야.<br>
                    네가 그리핀도르 기숙사에 온 것을 환영해.<br>
                    우리의 상징은 동물 중에서 가장 위대한 사자야.<br>
                    우리 기숙사의 색은 진홍색과 금색이고 우리 기숙사 휴게실은 그리핀도르 탑에 있어.<br>
                    여기는 간단히 말하자면 호그와트에서 가장 좋은 기숙사야.<br><br>
                    여기는 가장 용감하고 대담한 사람들이 모인 곳이야.<br>
                    예를 들면 알버스 덤블도어!<br>
                    맞아! 덤블도어 말야. 우리 시대 가장 위대한 마법사가 그리핀도르 출신이야!<br>
                    만약 이 사실로도 소개가 충분하지 않다면...나도 모르겠다.<br>
                    난 오래 노닥거릴 시간이 없어!<br>
                    호그와트에서의 시간을 즐기도록 해.<br>
                    어떻게 안 그러겠어? 우리학교에서 가장 좋은 기숙사에 들어오게 됐는데.
                </p>
            </div>
        </div>
        <footer id="common_footer"></footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../js/common_header.js"></script>
<script src="../js/house_detail.js"></script>

<script>



</script>

</html>