<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/professor.css">
    <title>professor</title>
</head>
<body>
    <div class="pro_header_cnt">
        <div class="pro_header_music">🎵</div>
        <div class="pro_header_hambrerger">🍔</div>
    </div>
    <div class="pro_cnt">
    </div>
</body>
<script src="../static/js/professor.js"></script>
</html>