*{margin: 0; padding: 0;}
html {
    cursor: url(../img/circle/common/Cursor_Default.png), auto;
}
/* ----------------가로세로 스크롤 막기---------------------------------------------------- */
body {
    overflow: hidden;
    touch-action: none;
    background-color: #fafaf8;
}
/* ------가로세로 스크롤 막기----------------------------------------------------------------- */

/* 한글영어 폰트 지정하기 */
@font-face {
    font-family: 'Eulyoo1945';
    src: url(../font/Eulyoo1945-Regular.ttf);
}
@font-face {
    font-family: 'Ibarra Real Nova';
    src: url(../font/IbarraRealNova-Regular.ttf);
    unicode-range: U+0041-005A, U+0061-007A;
}

/* paper */
.alo_paper {
    position: absolute;
    background-image: url('../img/jiwon/paper.jpg');
    background-repeat: repeat;
    mix-blend-mode: darken;
    opacity: 0.25;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* ------------컨테이너----------------------컨테이너------------------------------------------ */
.start_ctn {
    overflow: hidden;
}
/* ------------컨테이너----------------------컨테이너-------------------------------------------- */
/* ------------------밝은 배경--------------------------밝은 배경----------------------- */
.start_back {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
}
/* ------------------밝은 배경--------------------------밝은 배경----------------------- */
/* -------------어두운 배경----------------------------어두운 배경------------------------- */
.start_backChange_right {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #111111;
    overflow: hidden;
}
.start_img_right {
    opacity: 30%;
    filter: grayscale(100%);
    position: absolute;
    height: 100%;
    width: auto;
    left: 0; top: 0;
}
.start_ani_right {
    transition: transform 2s;
    transform-origin: 0% 100%;
    transform: rotate(90deg) scale(400%);
}
.start_backChange_left {
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: #111;
    overflow: hidden;
}
.start_img_left {
    opacity: 30%;
    filter: grayscale(100%);
    position: absolute;
    height: 100%;
    width: auto;
    right: 0; 
    top: 0;
}
.start_ani_left {
    transform-origin: 100% 100%;
    transition: transform 2s;
    transform: rotate(-90deg) scale(400%);
}
/* -------------어두운 배경----------------------------어두운 배경------------------------- */

/* ----------input-------------------------------------input------------------------- */

.alohomora {
    position: fixed;
    width: 40%; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: none;
    border-bottom: 1px solid rgb(46, 46, 46);
    font-size: 5vw;
    text-align: center;
    font-family: 'Ibarra Real Nova', 'Eulyoo1945';
    background-color: transparent;
    color: white;
}

.alohomora:focus {
    outline: none;
}

.start_error {
    animation: shaking 300ms
}

@keyframes shaking {
    0%,
    100% {
      transform: translate(-50%, -50%) translateX(0);
    }
  
    25%,
    75% {
      transform: translate(-50%, -50%) translateX(10px);
    }
  
    50% {
      transform: translate(-50%, -50%) translateX(-10px);
    }
  }
/* event after input none */
.displayNone {
    display: none;
}
/* event after input none */

/* ----------input-------------------------------------input------------------------------------- */