*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova' , 'Eulyoo1945';
}

body{
    background-color: #efefeb;
    position: relative;
    color: #404040;
    height: 100vh;
}

.HouseTest_bg {
    background-image: url("../img/circle/common/Background_texture.jpg");
    background-repeat: repeat;
    opacity: 0.25;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    mix-blend-mode: darken;
    z-index: -1;
}

.houseTest_ansList ul li label{
    cursor: pointer !important;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.HouseTest_m{
    position: relative;
    width: 100%;
    height: 100%;
}

.HouseTest_container{
    width: 45%;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.HouseTest_left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.HouseTest_left svg{
    width: 14vw;
    height: 14vw;
}

svg.HouseTest_hat{
    width: 20vw;
}

.HouseTest_right{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.HouseTest_center_item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.houseTest_title{
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.houseTest_qes{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.houseTest_ansList{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 400;
    padding-top: 20px;
}

.houseTest_ansList ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.houseTest_ansList ul li label input{
    -webkit-appearance: none;
    width: 22px !important;
    height: 22px !important;
    /* border: 1px solid #404040;
    border-radius: 50%; */
    background-image: url(../img/seoha/Rectangle.png) !important;
    background-repeat: no-repeat;
    background-position: center;

}

.houseTest_ansList ul li label input:checked{
    border: none !important;
    background-image: url(../img/seoha/checkmark.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 22px !important;
    height: 22px !important;
}

.houseTest_nextBtn{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.houseTest_nextBtn:hover{
    font-weight: 700;
}

@media screen and (max-width:1023px) {
    .HouseTest_container{
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 2%;
        align-items: center;
        justify-content: flex-start;
    }
    .houseTest_qes{
        font-size: 17px;
        line-height: 21px;
    }
    .houseTest_ansList{
        font-size: 16px;
        line-height: 20px;
    }
    .houseTest_ansList ul li label input{
        width: 20px;
        height: 20px;
    }
    .HouseTest_left svg{
        width: 25vw !important;
        height: 25vw !important;
    }

}

@media screen and (max-width:767px){

    .HouseTest_border{
        display: none;
    }
    .HouseTest_right{
        padding: 9%;
    }

    .houseTest_title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .HouseTest_left svg{
        width: 35vw !important;
        height: 35vw !important;
    }

}

@media screen and (max-width:479px){
    .HouseTest_right{
        padding: 7%;
    }
    .houseTest_qes{
        font-size: 16px;
        line-height: 20px;
    }
    .houseTest_ansList{
        font-size: 14px;
        line-height: 18px;
    }
    .houseTest_ansList ul li label input{
        width: 16px;
        height: 16px;
    }
}

.blurFilter{
    filter: blur(5px);
}

.opacity{
    opacity: 0;
}
  
  div.location div.text {opacity: 1;}
  
 .HouseTest_left svg.houseTest_draw path, .HouseTest_left svg.houseTest_draw ellipse, .HouseTest_left svg.houseTest_draw circle, .HouseTest_left svg.houseTest_draw polygon, .HouseTest_left svg.houseTest_draw polyline, .HouseTest_left svg.houseTest_draw rect, .HouseTest_left svg.houseTest_draw line{
    stroke-width: 1;
    stroke:#404040;
    fill:transparent;
    stroke-dasharray:1000;
    stroke-dashoffset:1000;
    animation:line 2.5s cubic-bezier(0,0,0,0) forwards !important;
  }
  
  @keyframes line {
    to {
        stroke-dashoffset:0;
    }
  }

footer{
    bottom: 0;
}