.main_Read-Btn span {
  font-size: 1.5rem;
  line-height: 130%;
}

.main_Read-Btn i {
  font-size: 2rem;
  text-align: right;
}

#TopBtn i {
  font-size: clamp(0.75rem, 3vw, 1.25rem);
  line-height: clamp(2rem, 8vw, 4rem);  
  width: clamp(2rem, 8vw, 4rem);
  height: clamp(2rem, 8vw, 4rem);
}

/* main_nav-top - 최상단 */
#main_nav-top {
  height: 5rem;
}
#main_nav-music i {
  font-size: 2rem;
}
/* main_nav-search - 검색 */
.main_search-container {
  height: 5rem;
}
.main_search-container > input,
.main_search-container > input::placeholder,
.main_search-container i {
  font-size: 2rem;
}

/* main_head-title - 로고 */
#main_head-title {
  padding: 3rem 0;
}
#main_head-title img {
  width: 116px;
}

#main_head-title-text h1 {
  font-size: 6.25vw;
}
#main_head-title-text h3 {
  font-size: 3.8vw;
}

/* main_nav-menu style sheet */
#main_nav-menu {
  padding: 0;
}
#main_nav-menu > p {
  font-size: 1.5rem;
}
#main_mobile-menu {
  height: 6rem;
}
#main_mobile-menu img,
#main_nav-menu .main_user-info img {
  width: 3rem;
}

/* main_mobile-toggle style sheet */
.mobile-toggle-active {
  height: 45rem !important;
}

.main_mobile-parent li a {
  font-size: 2rem;
}
#main_mobile-child-wrap {
  padding: 3rem;
}
.main_mobile-child {
  gap: 4rem;
}
.main_mobile-child a {
  font-size: 2rem;
}


/* main_con1 style sheet */
.main_con1 {
  padding: 4rem var(--display-gap);
}

/* main_con1 - 달력 */
.main_calendar {
  gap: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

/* main_con1 - 달력 영역 */
.main_calendar-box {
  padding: 2rem 1rem;
  gap: 2rem;
}
.main_cal-year {
  font-size: 1.75rem;
}
.main_cal-month {
  font-size: 4.25rem;
  line-height: 80%;
}
.main_ctr-box button i{
  font-size: 1.5rem;
}

.main_cal-table thead tr th,
.main_cal-body tr .day {
  height: 4rem;
  font-size: 1.5rem;
}
/* main_con1 - 서브 텍스트 */
.main_calendar-sub p {
  font-size: 1rem;
}

.main_calendar-sub h3 {
  font-size: 1.5rem;
}

.main_calendar-sub span {
  display: block;
    font-size: 1rem;
    padding-top: 0.5rem;
}

/* main_con1 - 교가 */
.main_song {
  gap: 2rem;
  padding-right: 5vw;
}

.main_song p {
  font-size: 1.5rem;
}

.main_song small {
  font-size: 1rem;
}

/* main_con1 - 이달의 교수 */
.main_awards {
  gap: 1rem;
  padding-left: 5vw;
}
.main_awards img {
  height: 22rem;
}

.main_awards p {
  font-size: 1rem;
}

.main_awards h3 {
  font-size: 1.5rem;
}

.main_awards span {
  display: block;
  font-size: 1rem;
  padding-top: 0.5rem;
}

/* main_mainCon style sheet */
.main_mainCon {
  margin: 0 var(--display-gap);
  height: 26rem;
}
.main_mainCon a {
  --font-size: 3rem;
}

/* main_con2 style sheet : 학교 기사 */
.main_con2 {
  padding: 4rem 0;
  margin: 4rem var(--display-gap) ;
}

/* main_con2 - 환영사 */
#main_con2-first {
  gap: 2rem;
}

#main_con2-first video {
  height: 31.25rem;
}

#main_con2-first h1 {
  font-size: 10vw;
}

#main_con2-first .main_Read-Btn {
  padding: 0 0 3rem;
}

/* main_con2 - 우승 기숙사 */
#main_con2-second {
  padding-top: 3rem;
}

#main_con2-second p {
  font-size: 2rem;
}

#main_con2-second h1 {
  font-size: 10vw;
  padding-bottom: 2rem;
}

#main_con2-second-img-wrap {
  height: 55vw;
}

#main_con2-second img {
  bottom: 35%;
}

/* main_con3 style sheet : 기숙사 점수 */
.main_con3 {
  padding: 6vw 8vw;
}

.main_con3-house {
  gap: 1vw;
}

.main_con3-house p {
  font-size: 1.25rem;
}

.main_con3-house h3 {
  font-size: clamp(2rem, 8vw, 4rem);
}

/* main_con4 style sheet */
.main_con4 {
  grid-template-rows: 55% 45%;
  max-height: 1625px;
  padding: 0 var(--display-gap) 2rem;
}

.main_blog-big_title {
  font-size: 6rem;
}

/* con4 - 기사 */
.main_header-article h2 {
  font-size: 2rem;
  padding: 2rem 0;
}
.main_header-article br {
  display: block;
}
.main_header-article > span {
  font-size: 1.5rem;
  line-height: 150%;
}

.main_header-article > .main_Read-Btn {
  border-bottom: 0;
  margin-bottom: 0;
}

/* con4 - 우측 게시판 */
.main_right-blog {
  overflow: auto;
}

.main_blog-right-container {
  grid-template-columns: 28% 70%;
  gap: 1rem;
  padding-bottom: 2rem;
}

.main_blog-right-container {
  margin: 2rem 0;
}

.main_blog-right-container:last-child {
  border: none;
}

.main_blog-right-menu {
  font-size: clamp(0.75rem, 3vw, 1rem);
}

.main_blog-right-title {
  font-size: 1.5rem;
}

.main_blog-right-date {
  font-size: 1.5rem;
}

/* main_con5 style sheet */
.main_con5 {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* main_con5 - 카테고리 */
.main_con5-categories div {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  transition: all 0.2s ease-out;
}

.main_con5-categories img {
  width: 5rem;
}

.main_con5-categories span {
  font-size: 1.125rem;
}
/* main_con5 -  오늘 식단표 */
.main_con5-today_menu {
  padding: 3vw;
}
.main_con5-today_menu h3 {
  padding-bottom: 0.25rem;
}
.main_con5-today_menu h3 br {
  display: none;
}

.main_con5-today_menu ul li {
  font-size: 1.125rem;
}

/* main_con5 - 세계 뉴스 */
.main_con5-world_news {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

/* main_con5 - 세계 뉴스 - 기사 */
.main_con5-news-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem var(--display-gap);
}
.main_con5-news-article h3 {
  font-size: 2rem;
  padding-bottom: 0.25em;
}

.main_con5-news-article span {
  display: inline;
  text-indent: 0;
}
.main_con5-news-article span br {
  display: none;
}

/* main_con5 - 세계 뉴스 - 영상 */
.main_con5-news-wrap {
  border: 1px solid var(--line-color);
  overflow: hidden;
  height: 13rem;
}
.main_con5-news-wrap video {
  display: block;
  height: 150%;
}

/* main_con6 style sheet - 교수 */
.main_con6 {
  padding: 3rem var(--display-gap);
}

.main_con6-hr-sect {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.main_con6_card-wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* main_con6 - 카드 앞면 */
.main_con6_card-front {
  padding: 1vw;
}

.main_con6_card-border {
  border-width: 2vw;
}
.main_con6_card-front p {
  font-size: 0.85rem;
}

/* main_con6 - 카드 뒷면 */
.main_con6_card-back {
  padding: 2vw;
}
.main_con6_card-back > div {
  bottom: 2vw;
}
.main_con6_card-back span {
  font-size: 1rem;
}

/* main_con7 style sheet */
.main_con7 {
  gap: 3rem;
  padding: 4rem 0;
}

.main_con7 div h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.main_con7 div span {
  font-size: 1.5rem;
}

/* main_auto-scroll style sheet */
.main_auto-scroll {
  padding: var(--display-gap) 0;
  margin: 0 var(--display-gap);
  height: 9.5rem;
}

.main_auto-scroll-roller {
  font-size: 80px;
}


/* footer style sheet */
#common_footer {
  grid-template-rows: 1.5fr 1fr;
  height: 300px;
}
#common_footer .comm_footer_text{
  align-self: flex-start;
  width: auto;
}
#common_footer .comm_footer_text .comm_footer_text1 {
  margin-bottom: 0.2em;
}
