*{margin: 0; padding: 0;}

body {
    width: 100%;
    background-color: #E7E3DD;
    box-sizing: border-box;
    -ms-overflow-style: none;/*스크롤바 막음*/
}

body::-webkit-scrollbar {/*스크롤바 막음*/
    display: none;
}

/* ---------임시 해더-------------------임시 해더----------------------------- */
.pro_header_cnt {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96vw;
    margin: 1rem 0.5rem;
    z-index: 2;
}
/* ---------임시 해더-------------------임시 해더----------------------------- */

/* ---------교수사진----------------------교수사진---------------------------- */
.proHidden{ /*호버이벤트용*/
    display: none !important;
}

.pro_cnt { /*이미지 전체 감싸는 div*/
    width: 100%;
    padding: 3%;
    display: grid;
    box-sizing: border-box;
}

.proImage{/*이미지의 부모 공통태그*/
    position: relative;
    overflow: hidden;
}

.pro_imgSize {
    object-fit: cover;
}

.pro_hover{/*이미지 호버시 보이는css*/
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0; width: 100%; height: 100%;
    color: white;
    font-family: 'Eulyoo1945';
    font-size: 1rem;
    line-height: 1.8rem;
    background-color: #25252540;
}

.pro_textCnt {/*기숙사로고제외 모두*/
    position: absolute;
    bottom: 1rem;
    left: 0.9rem;
    margin: 2%;
    width: 100%;
    letter-spacing: -0.02em;
    line-height: 200%;
}

.pro_house {/*기숙사 로고*/
    position: absolute;
    width: 50px;
    height: 50px;
    right: 1.5rem;
    top: 1.5rem;
}

.pro_subject { /*과목*/
    padding-top: 6%;
    line-height: 100%;
}

.pro_name {/*이름*/
    font-size: 1.75rem;
    width: 80%;
    font-weight: 600;
    border-bottom: 1px solid white;
    line-height: 150%;
}

.pro_years {/*재임년도*/
    font-size: 0.9rem;
}

.body::before {/*배경에 종이질감을 넣으려는 시도*/
    background-image: url('/harry_potter_project/image/paper_big.jpg');
    opacity: 40%;
}
/* ---------교수사진----------------------교수사진---------------------------- */

/*---------교수사진 위치-------------------교수사진 위치------------------------*/
.imgNum0 {/*해그리드*/
    grid-area: 2/2/6/4;
}
.imgNum1 {/*플리트윅*/
    grid-area: 3/7/6/10;
}
.imgNum2 {/*트릴로니*/
    grid-area: 4/12/8/14;
}
.imgNum3 {/*덤블도어*/
    grid-area: 5/16/11/20;
}
.imgNum4 {/*후치*/
    grid-area: 8/1/12/3;
}
.imgNum5 {/*맥고나걸*/
    grid-area: 7/6/11/9;
}
.imgNum6 {/*매드아이*/
    grid-area: 9/10/12/13;
}
.imgNum7 {/*아거스*/
    grid-area: 18/3/22/6;
}
.imgNum8 {/*퀴렐*/
    grid-area: 18/8/21/12;
}
.imgNum9 {/*슬러그혼*/
    grid-area: 17/13/21/16;
}
.imgNum10 {/*루핀*/
    grid-area: 17/17/20/21;
}
.imgNum11 {/*스네이프*/
    grid-area: 23/2/27/6;
}
.imgNum12 {/*포피 폼프리*/
    grid-area: 24/8/28/11;
}
.imgNum13 {/*포모나 스프라우트*/
    grid-area: 25/14/28/18;
}
.imgNum14 {/*록하트*/
    grid-area: 22/19/26/22;
}
/*---------교수사진 위치-------------------교수사진 위치------------------------*/