/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.ttf');
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;


// ------------------------------------------------- DEFAULT SET -------------------------------------------*

$fontBlack: #333;
$fontmainColor: #423620;
$fontSubColor: #504733;

$borderColor: #978b7e;

$selectColor: #b2a069;
$selectColor-dark: #5e5647;
$selectText: #fff;

.comm_white_Bg { background-color: rgba(255, 255, 255, 0.15); }
.comm_animation_play_pause { animation-play-state: paused !important; }
.comm_dp_none { display: none !important; }
.comm_opacity_0 { opacity: 0; }

// ---------------------------------------------------------------------------------------------------------*

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    cursor: url('../../img/circle/common/Cursor_Default.png'), auto;
}

a, button, li, input {
    cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;
}

::selection {
    background-color: $selectColor-dark;
    color: $selectText;
}



ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: $fontmainColor;
    display: inline-block;
}

.contents {
    width: 100%;
    height: 100vh;
    background-color: #f1f0ec;

    .contents_overlay {
        width: 100%;
        height: 100%;

        background: url("../../img/khlll/Background_texture.jpg") repeat;
        opacity: 0.25;
        mix-blend-mode: darken;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}
