/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.eot'),
        url('../../font/Eulyoo1945-Regular.woff') format('woff'),
        url('../../font/Eulyoo1945-Regular.woff2') format('woff2'),
        url('../../font/Eulyoo1945-Regular.ttf') format(truetype);
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;


// ------------------------------------------------- DEFAULT SET -------------------------------------------*

$fontBlack: #333;
$fontmainColor: #423620;
$fontSubColor: #504733;
$fontAboutColor: #686255;

$borderColor: #69604b;
$borderColor2: #978b7e;
$borderColor-smooth: #AFA489;

$selectColor: #b2a069;
$selectColor-dark: #5e5647;
$selectText: #fff;


.comm_white_Bg {
    background-color: rgba(255, 255, 255, 0.4);
}

.comm_animation_play_pause {
    animation-play-state: paused !important;
}

.comm_dp_none {
    display: none;
}

// ---------------------------------------------------------------------------------------------------------*

// ------------------------------------------------- HEADER START ------------------------------------------**

#comm_header {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    padding: 0 3.75rem;
    transition: .5s;
    position: fixed;
    z-index: 999;

    .comm_left {
        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: row;

        h1 {
            letter-spacing: -.05vw;
            color: $fontmainColor;
            display: inline-block;
            align-self: center;
            font-family: 'Ibarra Real Nova', serif;
            cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;
        }

        .comm_musicbar {
            margin-left: 1.5rem;

            display: inline-block;
            cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;
            background-color: transparent;
            align-self: center;

            .comm_bar {
                background-color: $fontmainColor;
                width: 2px;
                border-radius: 10px;
                display: inline-block;

                animation: equalize 4s 0s infinite;
                animation-timing-function: linear;
                vertical-align: bottom;
            }

            .comm_bar-1 {
                height: 12px;
                animation-delay: -1.9s;
            }

            .comm_bar-2 {
                height: 15px;
                animation-delay: -2.9s;
            }

            .comm_bar-3 {
                height: 10px;
                animation-delay: -3.9s;
            }

            @keyframes equalize {
                0% {
                    height: 7px;
                }

                4% {
                    height: 13px;
                }

                8% {
                    height: 13.3px;
                }

                12% {
                    height: 14.7px;
                }

                16% {
                    height: 7px;
                }

                20% {
                    height: 14.7px;
                }

                24% {
                    height: 14.3px;
                }

                28% {
                    height: 7px;
                }

                32% {
                    height: 14.3px;
                }

                36% {
                    height: 7px;
                }

                40% {
                    height: 14.3px;
                }

                44% {
                    height: 14.3px;
                }

                48% {
                    height: 14.3px;
                }

                52% {
                    height: 14.7px;
                }

                56% {
                    height: 7px;
                }

                60% {
                    height: 14.7px
                }

                64% {
                    height: 14.7px;
                }

                68% {
                    height: 14.7px
                }

                72% {
                    height: 7px;
                }

                76% {
                    height: 14.3px
                }

                80% {
                    height: 7px
                }

                84% {
                    height: 15px
                }

                88% {
                    height: 7px
                }

                92% {
                    height: 14.3px;
                }

                96% {
                    height: 7px;
                }

                100% {
                    height: 7px;
                }
            }
        }
    }

    .comm_right {
        height: 100%;

        display: flex;
        justify-content: flex-end;
        gap: 3em;
        align-items: center;

        .comm_search {
            .comm_search_textbox {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;
                
                i.comm_search_btn {
                    width: 1.3rem;
                    height: 1.3rem;
                    
                    display: inline-block;
                    color: $fontmainColor;
                }

                input.comm_search_text {
                    width: 0;

                    padding: .2vw 0;
                    margin-right: .5em;
                    outline: none;
                    border: none;
                    background: transparent;
                    border-bottom: 1px solid #9f9a91;
                    color: $fontmainColor;
                    font-family: 'SUIT', sans-serif;
                    transition: .4s;

                    &.comm_active_input {
                        width: 10em;
                    }

                }

            }

        }

        .comm_login {
            
            svg {
                width: 2rem;
                display: inline-block;
                fill: $fontmainColor;
                cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;
            }
            
            position: relative;

            .comm_login_flag_box:hover .comm_login_flag_menu {
                display: block;
            }

            .comm_login_flag_menu {
                width: 95px;
                height: 195px;

                position: absolute;
                top: 155px;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #e2dccb;

                display: none;
                
                .comm_login_flag_menu_box {
                    width: 100%;
                    height: 100%;
                    
                    padding: 14px;
                    color: $fontSubColor;
                    box-shadow: 0 0.3vw 0.5vw #00000010;
                    border: 1px solid $fontSubColor;
                    font-family: 'SUIT', sans-serif;

                    position: relative;
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .comm_login_flag_menu_name_year {
                        width: 70px;
                        margin-top: 0.5em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: $fontSubColor;
    
                        .comm_login_flag_menu_name {
                            font-size: 1rem;
                        }
    
                        .comm_login_flag_menu_year {
                            font-size: 14px;
                        }
                    }
    
                    .comm_login_flag_menu_line {
                        width: 70px;
                        border-bottom: 1px solid #918670;
                        margin: 0.7em;
                    }
    
                    .comm_login_flag_menu_contents {
                        width: 70px;
                        height: 90%;
    
                        display: inline-flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                        // background-color:#dbd6c9;
    
                        ul {
                            .comm_login_flag_menu_item {
                                margin-bottom: 0.5em;
    
                                a {
                                    display: inline-block;
                                    font-size: 14px;
                                    color: $fontmainColor;
                                }
                            }
                        }
    
                        .comm_login_flag_menu_logout {
                            font-size: 14px;
                            margin-bottom: 0.5em;
                        }
    
                    }
    
                    .comm_login_flag_menu_tail {
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
    
                        border-bottom: 5.5px solid $fontSubColor;
    
                        position: absolute;
                        top: -1.5%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .comm_menu_login_flag_box_overlay {
                    width: 100%;
                    height: 100%;
            
                    background: url("../../img/khlll/background_texture.jpg") repeat;
                    opacity: 0.3;
                    mix-blend-mode: multiply;
            
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

            }
        }

        .comm_menu_btn {
            width: 30px;

            display: flex;
            flex-direction: column;
            cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;

            span {
                width: 30px;
                height: 2px;

                align-self: center;
                display: block;
                border-radius: 30px;
                background-color: $fontmainColor;
                transform-origin: 4px 0px;
                transition: all 0.25s ease-in-out;
            }

            span:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        .comm_menu_btn.comm_active_header_btn {
            span:first-child {
                width: 15px;
                transform: translateX(.8px) translateY(5.5px) rotate(-55deg);
            }

            span:nth-child(2) {
                width: 10px;
                align-self: center;
                transform: rotate(-15deg);
            }

            span:nth-child(3) {
                width: 15px;
                transform: translateX(2.5px) translateY(1px) rotate(-55deg);
            }
        }

    }
}

.comm_header_menu_max1920,
.comm_header_menu_max768 {
    z-index: 9999;
}

// ======================== header TOP menu [start] ================================ //
.comm_header_menu_max1920 {
    width: 100%;
    margin-top: 70px;
    position: fixed;

    background-color: rgba(255, 255, 255, 0.8);
    transition: all .3s ease-in;
    font-family: 'SUIT', sans-serif;
    color: $fontmainColor;

    .comm_menu_top,
    .comm_header_menu_bottom {
        display: none;
    }

    .comm_header_menu_list {
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        position: relative;

        .comm_menu {
            cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
        }

        .comm_menu_title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5vw;

            i {
                font-size: 0.05vw;
            }
        }

        .comm_header_submenu {
            width: 150px;
            max-height: 0;
            padding: 0 1.5em;

            position: absolute;
            top: 3em;

            overflow: hidden;
            transition: .4s;
            background-color: #fff;
            z-index: 99999;

            .comm_submenu {
                a {
                    p {
                        color: #7a7a7a;
                    }
                }
            }

            .comm_submenu:not(:last-child) {
                margin-bottom: .7em;
            }

            
        }
        .comm_submenu_exists {
            color: $fontBlack !important;
            font-weight: 500;
        }

        .comm_header_submenu.comm_active_accordion {
            max-height: 16em;
            padding: 1.5em;
        }
    }


}

//======================== header TOP menu [end] =================================== //


// ======================== header RIGHT menu [start] ============================== //
.comm_header_menu_max768 {
    width: 90%;
    height: 100%;
    display: none;

    margin-top: 0;
    position: fixed;
    right: 0;
    background: url('../../img/khlll/background-white.png') no-repeat;
    background-size: cover;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    color: $fontmainColor;

    font-family: 'SUIT', sans-serif;

    .comm_dummy_header_menu_top {
        width: 100%;
        height: 15vw;
    }

    .comm_header_menu_top {
        padding: 0 12.5vw;
    }

    .comm_header_menu_bottom {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .comm_closeBtn {
        width: 5vw;
        height: 5vw;

        position: absolute;
        top: 5vw;
        right: 5vw;
        cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
    }

    .comm_closeBtn::before,
    .comm_closeBtn::after {
        width: .2vw;
        height: 100%;

        content: '';
        position: absolute;
        left: 4.55vw;
        left: 50%;
        border-radius: 4.55vw;
        background-color: $fontmainColor;
    }

    .comm_closeBtn::before {
        transform: rotate(45deg);
    }

    .comm_closeBtn::after {
        transform: rotate(-45deg);
    }

    .comm_menu_top {
        .comm_menu_top_title {
            margin-bottom: 5.5vw;
            font-size: 5.2vw;

            display: flex;
            flex-direction: column;

        }
        .comm_menu_login_flag_menu {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: .3s;

            &.comm_menu_login_flag_menu_accordion {
                padding-top: 2vw;
                max-height: 4.5em;
            }
            
            .comm_menu_login_flag_menu_box {
                
                color: $fontSubColor;

                display: flex;
                flex-direction: column;
                align-items: center;

                .comm_menu_login_flag_menu_name_year {
                    width: 100%;
                    margin-top: 0.5em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $fontSubColor;

                    .comm_menu_login_flag_menu_name {
                        font-size: 15px !important;
                    }

                    .comm_menu_login_flag_menu_year {
                        font-size: 14px;
                    }
                }

                .comm_menu_login_flag_menu_line {
                    width: 100%;
                    border-bottom: 1px solid rgb(234, 234, 234);
                    margin: 0.5em;
                }

                .comm_menu_login_flag_menu_contents {
                    width: 100%;
                    height: 90%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    // background-color:#dbd6c9;

                    ul {
                        width: 100%;
                        .comm_menu_login_flag_menu_item {
                            width: 100%;
                            margin-bottom: 0.3em;
                            a {
                                display: inline-block;
                                font-size: 5.5vw;
                                color: $fontmainColor;
                            }
                        }
                    }

                    .comm_menu_login_flag_menu_logout {
                        font-size: 5.5vw;
                        margin-top: 0.3em;
                    }

                }

                .comm_login_flag_menu_tail {
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;

                    border-bottom: 5.5px solid $fontSubColor;

                    position: absolute;
                    top: -1.5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

        span.comm_menu_line {
            width: 100%;

            display: inline-block;
            margin-top: .8em;
            border-bottom: 1px solid rgb(234, 234, 234);
        }
    }

    .comm_header_menu_list {
        height: 60vh;
        overflow: scroll;
        transition: all 0.3s ease;

        &::-webkit-scrollbar {
            display: none;
        }

        .comm_menu {
            margin-bottom: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

            p {
                display: inline-block;
                font-size: 3.9vw;
            }

            .comm_menu_title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .comm_header_submenu {
                width: 100%;
                max-height: 0;

                margin-left: 6vw;
                overflow: hidden;
                transition: .3s;

                z-index: 98;

                .comm_submenu {
                    margin-bottom: 4vw;

                    p {
                        color: #7a7a7a;
                        font-size: 3vw;
                    }
                }
            }
            .comm_submenu_exists {
                color: $fontBlack !important;
                font-weight: 500;
            }

            .comm_header_submenu.comm_active_accordion {
                max-height: 20em;
                padding-top: 6vw;
            }
        }
    }

    .comm_header_menu_bottom {
        width: 100%;
        height: 16vw;

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .3s;
        z-index: 1;

        label.comm_menu_search_textbox {
            width: 20vw;
            height: 100%;
            cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

            display: flex;
            justify-content: center;
            align-items: center;

            i.comm_menu_search_btn {
                color: $fontmainColor;
                cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
                // transition: .3s;
                font-size: 4vw;
            }
        }

        #comm_menu_search_text {
            width: 0;
            height: 0;

            border: none;
            background-color: transparent;
            color: #f0f0f0;
            font-family: 'SUIT', sans-serif;
            font-size: 3vw;
        }
    }

    .comm_header_menu_bottom.comm_active_menu_input {
        background-color: #333;

        label.comm_menu_search_textbox {
            i.comm_menu_search_btn {
                color: #f0f0f0;
                padding-left: 4vw;
            }
        }

        #comm_menu_search_text {
            width: 100%;
            height: 100%;

            border: none;
            background-color: transparent;
        }
    }


}

// ======================== header RIGHT menu [end] ================================ //


@media screen and (max-width: 768px) {

    #comm_header {
        padding: 0 6.25vw;

        .comm_left {
            width: 70%;

            .comm_musicbar {
                margin-left: 1em;

                .comm_bar {
                    padding: 0;
                }
            }
        }

        .comm_right {
            width: 20vw;
            gap: 4vw;

            .comm_search {
                display: none;
            }
        }
    }

    .comm_header_menu_max1920 {
        display: none;
    }

    .comm_header_menu_max768 {

        display: block;
        .comm_menu_login {
            display: none;
        }

        .comm_menu_login_flag_box {
            display: none;
        }
    }

    @media screen and (max-width: 480px) {

        #comm_header {
            .comm_left {
                h1 {
                    font-size: 5.6vw;
                    // font-size: 27px;
                }
            }

            .comm_right {
                .comm_login {
                    display: none;
                }
            }
        }

        .comm_header_menu_max768 {
            .comm_dummy_header_menu_top {
                height: 32vw;
            }

            .comm_menu_login_flag_box {
                display: block;
            }

            .comm_menu_top {
                .comm_menu_top_title {
                    font-size: 7.7vw;
                    margin-bottom: 7.5vw;
                    position: relative;

                    .comm_menu_login {
                        height: 1.45em;
                        position: absolute;
                        top: 0;
                        right: -.3em;
                        display: block;

                        svg {
                            height: 1.45em;
                            display: inline-block;
                            fill: $fontmainColor;
                        }
                    }
                }

                .comm_closeBtn {
                    width: 10vw;
                    height: 10vw;

                    position: absolute;
                    top: 5vw;
                    right: 5vw;
                    cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
                }

                .comm_closeBtn::before,
                .comm_closeBtn::after {
                    width: .5vw;
                    height: 100%;

                    content: '';
                    position: absolute;
                    left: 4.55vw;
                    border-radius: 4.55vw;
                    background-color: $fontmainColor;
                }

                .comm_closeBtn::before {
                    transform: rotate(45deg);
                }

                .comm_closeBtn::after {
                    transform: rotate(-45deg);
                }

                span.comm_menu_line {
                    width: 100%;
                    display: inline-block;
                }
            }

            .comm_header_menu_list {
                height: 55vh;
                transition: all 0.3s ease;

                .comm_menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 8vw;
                    cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

                    p {
                        display: inline-block;
                        font-size: 6.2vw;
                    }

                    .comm_menu_title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                    }

                    .comm_header_submenu {
                        width: 100%;
                        max-height: 0;

                        margin-left: 6vw;
                        overflow: hidden;
                        transition: .3s;

                        .comm_submenu {
                            margin-bottom: 4vw;

                            a {
                                p {
                                    font-size: 4.5vw;
                                }
                            }
                        }
                    }

                    .comm_header_submenu.comm_active_accordion {
                        max-height: 17em;
                        padding-top: 6vw;
                    }
                }
            }

            .comm_header_menu_bottom {
                width: 100%;
                height: 17.5vw;

                label.comm_menu_search_textbox {

                    i.comm_menu_search_btn {
                        font-size: 5vw;
                    }
                }

                #comm_menu_search_text {
                    font-size: 4vw;
                }
            }

            .comm_header_menu_bottom.comm_active_menu_input {
                background-color: #333;

                label.comm_menu_search_textbox {
                    i.comm_menu_search_btn {
                        color: #f0f0f0;
                        padding: 0;
                    }
                }

                #comm_menu_search_text {
                    width: 65vw;
                    height: 100%;

                    border: none;
                    background-color: transparent;
                }
            }


        }


    }

    @media screen and (max-width: 319px) {
        #comm_header {
            .comm_left {
                h1 {
                    font-size: 7vw;
                }

                .comm_musicbar {
                    display: none;
                }
            }
        }
    }

}