/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.eot'),
        url('../../font/Eulyoo1945-Regular.woff') format('woff'),
        url('../../font/Eulyoo1945-Regular.woff2') format('woff2'),
        url('../../font/Eulyoo1945-Regular.ttf') format(truetype);
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;


#comm_container {
    width: 100%;

    background: url("../../img/khlll/background-white.png");
    background-size: cover;
    font-family: 'Ibarra Real Nova', serif;
    overflow: hidden;
}

#house_list_contents {
    width: 100%;
    height: 100%;

    padding-left: 60px;
    display: grid;

    .house_about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .house_about_text {
            margin-top: 5vh;
            p {
                text-align: center;
                font-family: 'SUIT', sans-serif;
            }
        }
    }

    .house_list_box {
        
        .house_list {
            display: grid;
            z-index: 1;
            position: relative;

            .house_list_item {
                width: 100%;
                height: 100%;
                position: relative;

                &.house_list_item_gryffindor {
                    background-color: #A53F3F;

                    .house_list_item_title {
                        color: #DEA354;
                    }
                }

                &.house_list_item_slytherin {
                    background-color: #376148;

                    .house_list_item_title {
                        color: #A8A8A8;
                    }
                }

                &.house_list_item_hufflepuff {
                    background-color: #EBBD1C;

                    .house_list_item_title {
                        color: #212028;
                    }
                }
                
                &.house_list_item_ravenclaw {
                    background-color: #294966;

                    .house_list_item_title {
                        color: #8F8F8F;
                    }
                }
                
                .house_list_item_box {
                    width: 100%;
                    height: 100%;

                    .house_list_item_logo {
                        height: 100%;
                        transition: .2s;
                        
                        .house_list_item_logo_hidden {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            
                            position: relative;
            
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                position: absolute;
                            }

                        }
            
                    }
    
                    .house_list_item_flag {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 1920px) and (min-width: 1025px) {
    #house_list_contents {
        width: 100%;
        height: 100vh;
    
        padding-left: 60px;
        grid-template-columns: 35vw 1fr;

        .house_about {
            width: 100%;
            height: 100%;

            .house_about_logo {
                img {
                    width: 15vw;
                }
            }

            .house_about_text {
                width: 80%;
                margin-top: 5vh;
                font-size: 1.5vh;
                p {
                    text-align: center;
                    font-family: 'SUIT', sans-serif;
                }
            }
            .house_about_text_max480 {
                display: none;
            }
        }

        .house_list_box {
            
            .house_list {
                height: 100vh;

                display: grid;
                grid-template-columns: repeat(4, minmax(200px, auto));
                position: relative;
                
                .house_list_item {
                    transition: .5s;

                    &.house_list_item_animation {
                        transform: translateY(-20vw);
                        box-shadow: 0 0 3vw rgba(0, 0, 0, 0.2);
                    }
        
                    &:hover .house_list_item_logo {
                        opacity: 0;
                    }

                    .house_list_item_box {
                        transition: .5s;
                        
                        &.house_list_item_animation {
                            transform: translateY(-20vw);
                        }

                        .house_list_item_logo {
                            height: 100%;
                            
                            .house_list_item_logo_hidden {

                                svg {
                                    width: 35vw;
                                    height: 35vw;
                                    left: -18vw;
                                }
                                
                            }
                        }

                        .house_list_item_title {
                            opacity: 0;
                            font-size: 4vw;
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-90deg);
                            transition: .3s;
                            
                            &.house_list_item_title_animation {
                                opacity: 1;
                                top: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {
    #house_list_contents {
        padding: 0;
        grid-template-rows: 100vh minmax(302px, auto);

        .house_about {
            width: 100%;
            height: 100vh;
            padding: 0 6.25vw;

            .house_about_logo {
                img {
                    width: 20vh;
                    min-width: 200px;
                }
            }

            .house_about_text {
                width: 80%;
            }

            .house_about_text_max1920 {
                display: block;
            }
            .house_about_text_max480 {
                display: none;
            }
        }

        .house_list {
            height: 80vh;
            display: grid;
            grid-template-columns: repeat(4, minmax(96px, auto));

            .house_list_item {
                .house_list_item_box {

                    .house_list_item_logo {
                        svg {
                            width: 40vw;
                            height: 40vw;
                            left: -20vw;
                        }
                    }

                    .house_list_item_title {
                        display: none;
                    }
        
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .house_about_text_max1920 {
        display: none;
    }

    .house_about_text_max480 {
        display: block;
        font-size: 2vh;
    }
}

@media screen and (max-width: 480px) {
    #house_list_contents {
        padding: 0;
        grid-template-rows: 100vh 1fr;

        .house_about {
            height: 100vh;
            padding: 0 3.75rem;
            justify-content: center;

            .house_about_logo {
                img {
                    width: 40vw;
                    min-width: 150px;
                }
            }
            
            .house_about_text_max480 {
                p {
                    font-size: 4vw;
                }
            }
        }

        .house_list {
            display: grid;
            grid-template-rows: repeat(4, minmax(280px, auto));

            .house_list_item {
                .house_list_item_box {

                    .house_list_item_logo {
                        svg {
                            width: 11em;
                            height: 11em;
                        }
                    }
                    
                    .house_list_item_title {
                        display: none;
                    }
                    
                }
            }
        }
    }
}