/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.ttf');
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;

$fontBlack: #333;
$fontmainColor: #423620;

$fontAboutColor: #686255;
$fontSubColor: #504733;

$borderColor: #978b7e;
$borderColor2: #69604b;
$borderColor-smooth: #AFA489;

$selectColor: #b2a069;
$selectColor-dark: #5e5647;
$selectText: #fff;

::-webkit-scrollbar {
    display: none;
}

#TopBtn {
    display: none;
}

#comm_container {
    width: 100%;

    font-family: 'Ibarra Real Nova', serif;
    background-color: #e2dccb;
    overflow: hidden;

    position: relative;

    .house_list_overlay {
        width: 100%;
        height: 100%;

        background: url("../../img/khlll/background_texture.jpg") repeat;
        opacity: 0.3;
        mix-blend-mode: multiply;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

#house_list_contents {
    width: 100%;
    height: 100%;

    padding-left: 60px;
    display: grid;

    .house_about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $fontBlack;
        
        .house_about_text {
            margin-top: 5vh;
            p {
                text-align: center;
                font-family: 'SUIT', sans-serif;
            }
        }
    }

    .house_list_box {
        
        .house_list {
            display: grid;
            z-index: 1;
            position: relative;

            .house_list_item {
                width: 100%;
                height: 100%;
                position: relative;
                cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

                &.house_list_item_gryffindor {
                    background-color: #A53F3F;

                    .house_list_item_title {
                        color: #DEA354;
                    }
                }

                &.house_list_item_slytherin {
                    background-color: #376148;

                    .house_list_item_title {
                        color: #A8A8A8;
                    }
                }

                &.house_list_item_hufflepuff {
                    background-color: #EBBD1C;

                    .house_list_item_title {
                        color: #212028;
                    }
                }
                
                &.house_list_item_ravenclaw {
                    background-color: #294966;

                    .house_list_item_title {
                        color: #8F8F8F;
                    }
                }
                
                .house_list_item_box {
                    width: 100%;
                    height: 100%;

                    .house_list_item_logo {
                        height: 100%;
                        transition: .2s;
                        
                        .house_list_item_logo_hidden {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            
                            position: relative;
            
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                position: absolute;
                            }

                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1920px) and (min-width: 1025px) {
    #house_list_contents {
        width: 100%;
        height: 100vh;
    
        padding-left: 60px;
        grid-template-columns: 35vw 1fr;

        .house_about {
            width: 100%;
            height: 100%;

            .house_about_logo {
                img {
                    width: 15vw;
                }
            }

            .house_about_text {
                width: 80%;
                margin-top: 5vh;
                font-size: 1.5vh;
                p {
                    text-align: center;
                    font-family: 'SUIT', sans-serif;
                }
            }
            .house_about_text_max480 {
                display: none;
            }
        }

        .house_list_box {
            
            .house_list {
                height: 100vh;

                display: grid;
                grid-template-columns: repeat(4, minmax(200px, auto));
                position: relative;
                
                .house_list_item {
                    height: 118vh;
                    transition: .5s;
                    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);

                    &.house_list_item_animation {
                        transform: translateY(-22vh);
                        box-shadow: 0 0 3vw rgba(0, 0, 0, 0.2);
                    }
        
                    &:hover .house_list_item_logo {
                        opacity: 0;
                    }

                    .house_list_item_box {
                        transition: .5s;
                        
                        &.house_list_item_animation {
                            transform: translateY(-20vw);
                        }

                        .house_list_item_logo {
                            height: 87%;
                            transition: .2s;
                            
                            .house_list_item_logo_hidden {

                                svg {
                                    width: 35vw;
                                    height: 35vw;
                                    left: -18vw;
                                }
                                
                            }
                        }

                        .house_list_item_title {
                            opacity: 0;
                            font-size: 3vw;
                            position: absolute;
                            top: 55%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-90deg);
                            transition: .2s;
                            
                            &.house_list_item_title_animation {
                                opacity: 1;
                                transition: .7s;
                        }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {

    #TopBtn {
        display: block;
        bottom: 3.125vw;
        right: 3.125vw;
        cursor: url('../img/circle/common/Cursor_Pointer.png'), auto;
        position: fixed;
        z-index: 210;
    
        i {
            background-color: rgba(250, 250, 248, 0.3);
            backdrop-filter: blur(1px);
            border: 1px solid $fontBlack;
            border-radius: 50%;
            color: $fontBlack;
            text-align: center;
            transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    
            font-size: clamp(0.75rem, 3vw, 1.25rem);
            line-height: clamp(2rem, 8vw, 4rem);
            width: clamp(2rem, 8vw, 4rem);
            height: clamp(2rem, 8vw, 4rem);

            &:hover {
                background-color: $fontBlack;
                border: 1px solid $fontBlack;
                color: #fff;
            }
    
            &:active {
                background-color: transparent;
                border: 0;
                color: $fontBlack;
            }
        }
    }

    #house_list_contents {
        padding: 0;
        grid-template-rows: 100vh minmax(302px, auto);

        .house_about {
            width: 100%;
            height: 100vh;
            padding: 0 6.25vw;

            .house_about_logo {
                img {
                    width: 20vh;
                    min-width: 200px;
                }
            }

            .house_about_text {
                width: 80%;
            }

            .house_about_text_max1920 {
                display: block;
            }
            .house_about_text_max480 {
                display: none;
            }
        }

        .house_list {
            height: 80vh;
            display: grid;
            grid-template-columns: repeat(4, minmax(96px, auto));

            .house_list_item {
                .house_list_item_box {

                    .house_list_item_logo {
                        svg {
                            width: 40vw;
                            height: 40vw;
                            left: -20vw;
                        }
                    }

                    .house_list_item_title {
                        display: none;
                    }
        
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    #TopBtn {
        display: block;
        bottom: 3.125vw;
        right: 3.125vw;
        cursor: url('../img/circle/common/Cursor_Pointer.png'), auto;
        position: fixed;
        z-index: 210;
    
        i {
            background-color: rgba(250, 250, 248, 0.3);
            backdrop-filter: blur(1px);
            border: 1px solid $fontBlack;
            border-radius: 50%;
            color: $fontBlack;
            text-align: center;
            transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    
            font-size: clamp(0.75rem, 3vw, 1.25rem);
            line-height: clamp(2rem, 8vw, 4rem);
            width: clamp(2rem, 8vw, 4rem);
            height: clamp(2rem, 8vw, 4rem);

            &:hover {
                background-color: $fontBlack;
                border: 1px solid $fontBlack;
                color: #fff;
            }
    
            &:active {
                background-color: transparent;
                border: 0;
                color: $fontBlack;
            }
        }
    }

    .house_about_text_max1920 {
        display: none;
    }

    .house_about_text_max480 {
        display: block;
        font-size: 2vh;
    }
}

@media screen and (max-width: 480px) {

    #TopBtn {
        display: block;
        bottom: 3.125vw;
        right: 3.125vw;
        cursor: url('../img/circle/common/Cursor_Pointer.png'), auto;
        position: fixed;
        z-index: 210;
    
        i {
            background-color: rgba(250, 250, 248, 0.3);
            backdrop-filter: blur(1px);
            border: 1px solid $fontBlack;
            border-radius: 50%;
            color: $fontBlack;
            text-align: center;
            transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    
            font-size: clamp(0.75rem, 3vw, 1.25rem);
            line-height: clamp(2rem, 8vw, 4rem);
            width: clamp(2rem, 8vw, 4rem);
            height: clamp(2rem, 8vw, 4rem);

            &:hover {
                background-color: $fontBlack;
                border: 1px solid $fontBlack;
                color: #fff;
            }
    
            &:active {
                background-color: transparent;
                border: 0;
                color: $fontBlack;
            }
        }
    }

    #house_list_contents {
        padding: 0;
        grid-template-rows: 100vh 1fr;

        .house_about {
            height: 100vh;
            padding: 0 3.75rem;
            justify-content: center;

            .house_about_logo {
                img {
                    width: 40vw;
                    min-width: 150px;
                }
            }
            
            .house_about_text_max480 {
                p {
                    font-size: 4vw;
                }
            }
        }

        .house_list {
            display: grid;
            grid-template-rows: repeat(4, minmax(280px, auto));

            .house_list_item {
                .house_list_item_box {

                    .house_list_item_logo {
                        svg {
                            width: 11em;
                            height: 11em;
                        }
                    }
                    
                    .house_list_item_title {
                        display: none;
                    }
                    
                }
            }
        }
    }
}