/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.eot'),
        url('../../font/Eulyoo1945-Regular.woff') format('woff'),
        url('../../font/Eulyoo1945-Regular.woff2') format('woff2'),
        url('../../font/Eulyoo1945-Regular.ttf') format(truetype);
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;

$fontBlack: #333;
$fontmainColor: #423620;
$fontSubColor: #504733;

$borderColor: #978b7e;
$borderColor-smooth: #AFA489;

$selectColor: #b2a069;
$selectColor-dark: #5e5647;
$selectText: #fff;

@media screen and (max-width: 1024px) and (min-width: 481px) {

    #TopBtn {
        display: block;
        bottom: 3.125vw;
        right: 3.125vw;
        cursor: url('../img/circle/common/Cursor_Pointer.png'), auto;
        position: fixed;
        z-index: 210;
    
        i {
            background-color: rgba(250, 250, 248, 0.3);
            backdrop-filter: blur(1px);
            border: 1px solid $fontBlack;
            border-radius: 50%;
            color: $fontBlack;
            text-align: center;
            transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    
            font-size: clamp(0.75rem, 3vw, 1.25rem);
            line-height: clamp(2rem, 8vw, 4rem);
            width: clamp(2rem, 8vw, 4rem);
            height: clamp(2rem, 8vw, 4rem);

            &:hover {
                background-color: $fontBlack;
                border: 1px solid $fontBlack;
                color: #fff;
            }
    
            &:active {
                background-color: transparent;
                border: 0;
                color: $fontBlack;
            }
        }
    }
    
    #mypage_contents {
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
    
        .mypage_contents_line {
            width: 100%;
            margin-top: 10vh;
            border-top: 1px solid $borderColor;
            border-bottom: 1px solid $borderColor;
    
            display: flex;
            justify-content: center;
    
            .mypage_contents_box {
                width: 80vw;
                height: 100%;

                border-left: 1px solid $borderColor-smooth;
                border-right: 1px solid $borderColor-smooth;
    
                display: grid;
                grid-template-columns: 40.5vw 1.2fr;
                grid-template-rows: 75vw 100vw;
    
                .mypage_profile {
                    height: 100%;

                    border-right: 1px solid $borderColor-smooth;
                    border-bottom: 1px solid $borderColor-smooth;
                    background-color: rgba(255, 255, 255, 0.2);
                    
                    display: grid;
                    grid-template-rows: 2.3fr 1fr;
    
                    .mypage_profile_main {
                        height: 100%;
                        border-bottom: 1px solid $borderColor-smooth;
                        position: relative;
    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
    
                        .mypage_profile_house_dp {
                            position: absolute;
                            top: -1.7%;
                            right: 4.7%;
    
                            i {
                                font-size: 4.5vw;
                                color: #AA3939;
                            }
                        }
    
                        .mypage_profile_top {
                            width: 100%;
                            margin-top: 9vw;
    
                            .mypage_profile_top_contents {
                                width: 100%;
                                height: 100%;
                                
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                
                                .mypage_profile_top_pic {
                                    width: 20vw;
                                    height: 20vw;
    
                                    position: relative;
    
                                    .mypage_profile_top_setting {
                                        cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
    
                                        position: absolute;
                                        top: 0;
                                        right: 0;
    
                                        svg {
                                            height: 2.6vw;
                                        }
                                    }
    
                                    .mypage_profile_top_img {
                                        width: 100%;
                                        height: 100%;
    
                                        border-radius: 200px;
                                        overflow: hidden;
    
                                        display: flex;
                                        justify-content: center;
    
                                        img {
                                            height: 100%;
                                        }
                                    }
                                }
    
                                .mypage_profile_top_text {
                                    margin-top: 4.5vw;
    
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
    
                                    .mypage_profile_top_name {
                                        font-size: 3.4vw;
                                        font-family: 'Eulyoo1945', serif;
                                        font-weight: 400;
                                        letter-spacing: -0.1vw;
                                        color: $fontSubColor;
                                    }
                                    .mypage_profile_top_year {
                                        font-size: 2vw;
                                        margin-top: 0.5vw;
                                        color: $fontSubColor;
                                    }
                                }
                            }
                        }
    
                        .mypage_profile_bottom {
                            width: 100%;
                            height: 15vw;

                            ul {
                                width: 100%;
                                height: 100%;
                                padding: 0 5vw;
    
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
    
                                .mypage_profile_bottom_icon {
                                    width: 6vw;
                                    
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
    
                                    position: relative;
    
                                    svg {
                                        width: 3vw;
                                        height: 3vw;
                                    }
    
                                    .mypage_profile_bottom_icon_new {
                                        width: 0.3em;
                                        height: 0.3em;
    
                                        background-color: #E71A1A;
                                        border-radius: 0.3em;
    
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                    }
    
                                    .mypage_profile_bottom_text {
                                        width: 100%;
                                        height: 100%;
    
                                        display: inline;
                                        margin-top: 0.5vw;
                                        font-size: 1.3vw;
                                        font-weight: 500;
                                        text-align: center;
                                        color: $fontSubColor;
                                        font-family: 'SUIT', sans-serif;
                                    }
                                }
    
                            }
    
                        }
                    }
    
                    .mypage_profile_menu {
                        background-color: rgba(255, 255, 255, 0.1);
    
                        display: grid;
                        grid-template-columns: 1fr 1fr;
    
                        .mypage_profile_left_menu {
                            border-right: 1px solid $borderColor-smooth;
    
                            ul {
                                width: 100%;
                                height: 100%;
                                padding: 2vw 0;
    
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: center;
    
                                .mypage_profile_menu_text {
                                    width: 100%;
                                    height: 2vw;
                                    
                                    text-align: center;
    
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    p {
                                        display: inline-block;
                                        font-size: 2vw;
                                        color: $fontSubColor;
                                        font-family: 'SUIT', sans-serif;
    
                                        &:hover {
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                            
                        }
    
                        .mypage_profile_right_menu {
                            width: 100%;
                            height: 100%;
    
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
    
                            .mypage_profile_right_menu_text {
                                font-size: 2.5vw;
                                font-weight: 500;
                                line-height: 2.5vw;
                                color: $fontSubColor;
                            }
    
                            .mypage_profile_right_menu_arrow {
                                width: 9.5vw;
                                margin-top: 2vw;
    
                                display: flex;
                                justify-content: flex-end;
                            }
                        }
                    }
                }
    
                .mypage_calendar_Todolist {
                    border-right: 0;
    
                    display: grid;
                    grid-template-rows: 1.25fr 1fr;
    
                    .mypage_calendar {
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px solid $borderColor-smooth;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        #calendar {
                            width: 30vw;
                            height: 33vw;

                            // Fullcalendar style fix ***

                            // calendar top
                            .fc-header-toolbar {
                                align-self:stretch;
                                margin-bottom: 1vw;

                                .fc-toolbar-chunk {

                                    // title
                                    .fc-toolbar-title {
                                        width: 25vw;
                                        font-size: 2.7vw;
                                        color: $fontSubColor;
                                    }

                                    // 오늘 일자 버튼
                                    .fc-today-button {
                                        display: none;
                                    }

                                    // prev / next button
                                    .fc-button-group {
                                        width: 100%;
                                        margin-left: 0;
                        
                                        display: flex;
                                        justify-content: space-between;
                                        
                                        .fc-button:focus {
                                            box-shadow: none !important;
                                        }

                                        .fc-prev-button, .fc-next-button {
                                            background-color: transparent;
                                            border-color: transparent;
                                            color: $borderColor;
                                            padding: 0;
                                            margin-left: 0;
                                            border: none;
                            
                                            display: flex;
                            
                                        }
                                        
                                        .fc-button {

                                            span {
                                                width: 3.5vw;
                                                height: 100%;
                            
                                                line-height: 1vw;
                                                font-size: 2.5vw;
                                                text-align: left;
                                            }
                                        }
                                        
                            
                                        .fc-prev-button {
                                            justify-content: flex-start;
                                        }
                                        .fc-next-button {
                                            justify-content: flex-end;
                                        }
                                    }
                                }
                            }

                            // calendar main
                            .fc-view-harness {
                                width: 33vw;
                                height: 100% !important;

                                .fc-dayGridMonth-view {

                                    .fc-scrollgrid {

                                        // Day
                                        .fc-col-header {
                                            width: 100% !important;
                                            height: 100% !important;

                                            .fc-scrollgrid-sync-inner a {
                                                font-size: 1.7vw;
                                            }
                                        }

                                        // Month
                                        .fc-daygrid-body {
                                            width: 100% !important;
                            
                                            .fc-scrollgrid-sync-table {
                                                width: 100% !important;
                                                height: 100% !important;
                                                margin: 0;
                                            }

                                            .fc-daygrid-day-frame {
                                                display: flex;
                                                align-items: center;
                                                
                                                .fc-daygrid-day-top {
                                                    // display: block;
                                                    width: 4.2vw;
                                                    height: 4.2vw;
    
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    
                                                    .fc-daygrid-day-number {
                                                        width: 2.7vw;
                                                        height: 2.7vw;
                                                        border-radius: 200px;
                                    
                                                        padding: 0;
                                                        text-align: center;
                                                        font-size: 1.5vw;
                                                        font-family: 'SUIT', sans-serif;
                                    
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
    
                                                        z-index: 1;
                                                    }
                                                }
                                            }


                                            .fc-daygrid-day-events {
                                                width: 100%;
                                                min-height: 100%;

                                                z-index: -1;

                                                position: absolute;
                                                top: 12% !important;
                                                left: 12% !important;

                                                .fc-event {
                                                    width: 2.7vw !important;
                                                    height: 2.7vw !important;

                                                    border: none;
                                                    border-radius: 2.7vw !important;
                                                    background-color: rgba(255, 255, 255, 0.7);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    .mypage_Todolist {
                        width: 100%;
                        height: 100%;
                        
                        margin-top: 0;
                        border-bottom: 1px solid $borderColor-smooth;
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        
                        .mypage_Todolist_top {
                            width: 30vw;
                            height: 3.5vw;
                            margin-top: 7.5vw;
                            
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            .mypage_Todolist_title {
                                display: inline-block;
                                font-size: 2.75vw;
                                letter-spacing: -0.05vw;
                                color: $fontmainColor;
                            }
        
                            .mypage_Todolist_plus {
                                width: 1.5vw;
                                height: 1.5vw;
                                margin-left: 0;
        
                                position: relative;

                                .mypage_Todolist_plus_icon {
                                    width: 100%;

                                    &::before, &::after {
                                        content:'';
                                        width: 1px;
                                        height: 1.5vw;
        
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        
                                        background-color: $fontmainColor;
                                    }
        
                                    &::before { transform: rotate(-90deg); }
                                }
                            }
                        }

                        .mypage_Todolist_middle {
                            width: 30vw;
                            max-height: 0;
                            overflow: hidden;
                            transition: linear .2s all;
    
                            display: flex;
                            align-items: center;
    
                            &.mypage_Todolist_middle_active {
                                max-height: 3vw;
                            }
    
                            .mypage_Todolist_middle_input {
                                width: 24vw;
                                height: 3vw;
                                border: none;
                                background-color: transparent;
                                border-bottom: 1px solid $borderColor-smooth;
                                padding: 0.3vw;
                                font-family: 'SUIT', sans-serif;
                            }
    
                            .mypage_Todolist_middle_btn {
                                margin-left: 0.5vw;
                                border: none;
                                background-color: transparent;
                                font-size: 1.7vw;
                                color: $fontSubColor;
                                font-family: 'Ibarra Real Nova', serif;
                            }
                        }
                        
                        .mypage_Todolist_bottom {
                            width: 30vw;
                            height: 45%;
                            margin-top: 2vw;
    
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            // background-color: aqua;
    
                            .mypage_Todolist_contents { // ul
                                width: 100%;
                                height: 100%;
    
                                .mypage_Todolist_detail { // li
                                    color: $fontSubColor;
                                    font-family: 'Eulyoo1945', serif;

                                    display: grid;
                                    grid-template-columns: 1.3vw 27.4vw 1.3vw !important;
    
                                    &:not(:last-child) {
                                        margin-bottom: 1.5vw !important;
                                    }
    
                                    p {
                                        font-size: 1.4vw;
                                        display: inline-block;
                                        line-height: 2.1vw !important;
                                        margin-left: 1vw;
                                    }

                                    .mypage_Todolist_detail_check_box {

                                        display: flex;
                                        align-items: center;

                                        .mypage_Todolist_detail_check {
                                            position: relative;
                                        }
    
                                        input + label {
                                            display: inline-block;
                                            width: 1.2vw !important; height: 1.2vw !important;
                                            border: 1px solid #9b9179;
                                            cursor: pointer;
                                        }

                                        input:checked + label {
                                            border: none;
                                            background: url('../../img/khlll/check.png') no-repeat;
                                            background-size: contain;
                                        }
                                        
                                        input {
                                            display: none;
                                        }

                                    }

                                    .mypage_Todolist_detail_dltBtn {
                                        position: relative;
                                        width: 1.2vw !important;
                                        height: 1.2vw !important;
                                        cursor: pointer;

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        transform: translate(0, -50%);
                                        
                                        &::before, &::after {
                                            content:'';
                                            width: 1px;
                                            height: 1.2vw !important;
            
                                            position: absolute;
                                            top: 0;
                                            left: 50%;
                                            background-color: #8d8368;
                                        }
                                        &::before {
                                            transform: rotate(-45deg);
                                        }
                                        &::after {
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                            }
                        }
    
                    }
                }
    
                .mypage_timeTable {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.15);

                    grid-column: span 2;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .mypage_timeTable_box {
                        width: 65vw;
                        height: 90%;
    
                        display: grid;
                        grid-template-columns: 0.5fr repeat(5, 1fr);
                        gap: 2vw;
                    }
                                    
                    .mypage_timeTable_slot {
    
                        display: grid;
                        grid-template-rows: 1.5fr repeat(16, 1.2fr);
                        gap: 0.5vw;
    
                        .mypage_timeTable_slot_time, .mypage_timeTable_slot_day {
                            color: $fontmainColor;
    
                            display: flex;
                            justify-content: center;
                        }

                        .mypage_timeTable_slot_time {
                            font-size: 1.8vw;
                        }
    
                        .mypage_timeTable_slot_day {
                            font-size: 2vw;
                            font-weight: 500;
                            align-items: center;
                        }
    
                        .mypage_timeTable_detail {
                            padding: 1vw;
                            
                            font-size: 1.5vw;
                            color: $fontSubColor;
                            font-family: 'SUIT', sans-serif;
                            border-radius: 1.5vw;
    
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                        }
                        
                        .mypage_timeTable_slot_subject {
                            background-color: rgba(255, 255, 255, 0.45);
                        }
                        .mypage_timeTable_slot_select_subject {
                            background-color: #aba18d85;
                        }
    
                    }
    
                    .mypage_timeTable_slot1 {
                        .mypage_timeTable_slot_time{
                            grid-row: span 2;
                        }
                    }
    
                    .mypage_timeTable_slot2 {
                        .mypage_timeTable_slot_select_subject {
                            grid-row: span 3;
                        }
                        .mypage_subject1 {
                            grid-row: 6 / 8;
                        }
                        .mypage_subject2 {
                            grid-row: 8 / 11;
                        }
                        .mypage_subject3 {
                            grid-row: 13 / 17;
                        }
                    }
    
                    .mypage_timeTable_slot3 {
                        .mypage_subject1 {
                            grid-row: 3 / 5;
                        }
                        .mypage_subject2 {
                            grid-row: 7 / 11;
                        }
                        .mypage_subject3 {
                            grid-row: 13 / 15;
                        }
                    }
    
                    .mypage_timeTable_slot4 {
                        .mypage_subject1 {
                            grid-row: 2 / 4;
                        }
                        .mypage_timeTable_slot_select_subject {
                            grid-row: 5 / 8;
                        }
                        .mypage_subject2 {
                            grid-row: 8 / 11;
                        }
                        .mypage_subject3 {
                            grid-row: 13 / 16;
                        }
                    }
    
                    .mypage_timeTable_slot5 {
                        .mypage_subject1 {
                            grid-row: 2 / 4;
                        }
                        .mypage_subject2 {
                            grid-row: 5 / 10;
                        }
                        .mypage_subject3 {
                            grid-row: 13 / 17;
                        }
                    }
    
                    .mypage_timeTable_slot6 {
                        .mypage_select_subject1 {
                            grid-row: 2 / 5;
                        }
                        .mypage_subject1 {
                            grid-row: 5 / 9;
                        }
                        .mypage_subject2 {
                            grid-row: 9 / 11;
                        }
                        .mypage_select_subject2 {
                            grid-row: 13 / 16;
                        }
                    }
    
                }
            }
        }
    }

}
