/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.ttf');
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;


$fontBlack: #333;
$fontmainColor: #423620;
$fontSubColor: #504733;

$borderColor: #978b7e;
$borderColor-smooth: #AFA489;

$selectColor: #b2a069;
$selectColor-dark: #5e5647;
$selectText: #fff;

::selection {
    background-color: $selectColor;
    color: $selectText;
}
::-webkit-scrollbar {
    display: none;
}

#TopBtn {
    display: none;
}

#comm_container {
    width: 100%;

    overflow: hidden;
    font-family: 'Ibarra Real Nova', serif;
    background-color: #f1f0ec;

    position: relative;
    
    .mypage_overlay {
        width: 100%;
        height: 100%;

        background: url("../../img/khlll/background_texture.jpg") repeat;
        opacity: 0.25;
        mix-blend-mode: darken;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

:root {
    --fc-today-bg-color: transparent !important;
}

#mypage_contents {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    .mypage_contents_line {
        width: 100%;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        display: flex;
        justify-content: center;

        .mypage_contents_box {
            width: 80vw;
            height: 100%;
            
            border-left: 1px solid $borderColor-smooth;
            border-right: 1px solid $borderColor-smooth;

            display: grid;
            grid-template-columns: 21.6vw 1.2fr 1.3fr;

            .mypage_profile {
                border-right: 1px solid $borderColor-smooth;
                background-color: rgba(255, 255, 255, 0.2);
                
                display: grid;
                grid-template-rows: 2.3fr 1fr;

                .mypage_profile_main {
                    border-bottom: 1px solid $borderColor-smooth;
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .mypage_profile_house_dp {
                        position: absolute;
                        top: -2%;
                        right: 4.7%;

                        i {
                            font-size: 2.5vw;
                            color: #AA3939;
                        }
                    }

                    .mypage_profile_top {
                        width: 100%;
                        margin-top: 4.7vw;

                        .mypage_profile_top_contents {
                            width: 100%;
                            height: 100%;
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            
                            .mypage_profile_top_pic {
                                width: 10.5vw;
                                height: 10.5vw;

                                position: relative;

                                .mypage_profile_top_setting {
                                    cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

                                    position: absolute;
                                    top: 0;
                                    right: 0;

                                    svg {
                                        height: 1.5vw;
                                    }
                                }

                                .mypage_profile_top_img {
                                    width: 100%;
                                    height: 100%;

                                    border-radius: 200px;
                                    overflow: hidden;

                                    display: flex;
                                    justify-content: center;

                                    img {
                                        height: 100%;
                                    }
                                }
                            }

                            .mypage_profile_top_text {
                                margin-top: 1vw;

                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .mypage_profile_top_name {
                                    font-size: 1.8vw;
                                    font-family: 'Eulyoo1945', serif;
                                    font-weight: 400;
                                    letter-spacing: -0.1vw;
                                    color: $fontmainColor;
                                }
                                .mypage_profile_top_year {
                                    font-size: 1vw;
                                    margin-top: 0.2vw;
                                    color: $fontmainColor;
                                }
                            }
                        }
                    }

                    .mypage_profile_bottom {
                        width: 100%;
                        height: 7.3vw;
                        ul {
                            width: 100%;
                            height: 100%;
                            padding: 0 3vw;

                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .mypage_profile_bottom_icon {
                                width: 3.5vw;
                                cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
                                
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                position: relative;

                                svg {
                                    height: 2vw;
                                }

                                .mypage_profile_bottom_icon_new {
                                    width: 0.3em;
                                    height: 0.3em;

                                    background-color: #E71A1A;
                                    border-radius: 0.3em;

                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }

                                .mypage_profile_bottom_text {
                                    width: 100%;
                                    height: 100%;

                                    display: inline;
                                    margin-top: 0.3vw;
                                    font-size: 0.7vw;
                                    font-weight: 500;
                                    text-align: center;
                                    color: $fontSubColor;
                                    font-family: 'SUIT', sans-serif;
                                }
                            }

                        }

                    }
                }

                .mypage_profile_menu {
                    background-color: rgba(255, 255, 255, 0.1);

                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .mypage_profile_left_menu {
                        border-right: 1px solid $borderColor-smooth;

                        ul {
                            width: 100%;
                            height: 100%;
                            padding: 2vw 0;

                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;

                            .mypage_profile_menu_text {
                                width: 100%;
                                height: 2vw;
                                
                                text-align: center;
                                cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                p {
                                    display: inline-block;
                                    font-size: 1vw;
                                    color: $fontSubColor;
                                    font-family: 'SUIT', sans-serif;

                                    &:hover {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        
                    }

                    .mypage_profile_right_menu {
                        width: 100%;
                        height: 100%;
                        cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .mypage_profile_right_menu_text {
                            font-size: 1.5vw;
                            font-weight: 500;
                            line-height: 1.5vw;
                            color: $fontSubColor;
                        }

                        .mypage_profile_right_menu_arrow {
                            width: 5.5vw;
                            margin-top: 1vw;

                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            // Calendar style ***

            .fc-theme-standard .fc-scrollgrid, .fc-theme-standard td, .fc-theme-standard th {
                border: 0;
            }

            .fc-theme-standard td {
                border-radius: 100px;
                width: 2vw;
                height: 2.4vw;
            }


            
            // Calendar style ***

            .mypage_calendar_Todolist {
                border-right: 1px solid $borderColor-smooth;

                display: grid;
                grid-template-rows: 1.25fr 1fr;

                .mypage_calendar {
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid $borderColor-smooth;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    #calendar {
                        width: 18vw;
                        height: 17vw;

                        display: flex;
                        justify-content: center;
                        align-items: center;


                        // Fullcalendar style fix ***


                        // scrollbar 
                        .fc-scroller::-webkit-scrollbar {
                            display: none;
                        }

                        // calendar top
                        .fc-header-toolbar {
                            align-self:stretch;
                            margin-bottom: 1vw;

                            .fc-toolbar-chunk {

                                // title
                                .fc-toolbar-title {
                                    font-size: 1.6vw;
                                    color: $fontSubColor;
                                }

                                // 오늘 일자 버튼
                                .fc-today-button {
                                    display: none;
                                }

                                // prev / next button
                                .fc-button-group {
                                    width: 4vw;
                                    margin-right: -0.5vw;
                    
                                    display: flex;
                                    justify-content: space-between;

                                    .fc-button {
                                        cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
                                    }
                                    
                                    .fc-button:focus {
                                        box-shadow: none !important;
                                    }

                                    .fc-prev-button, .fc-next-button {
                                        background-color: transparent;
                                        border-color: transparent;
                                        color: $borderColor;
                                        padding: 0;
                                        margin-left: 0;
                                        border: none;
                        
                                        display: flex;
                        
                                        span {
                                            height: 1vw;
                        
                                            line-height: 1vw;
                                            font-size: 1.5vw;
                                            text-align: left;
                                        }
                                    }
                                    
                        
                                    .fc-prev-button {
                                        justify-content: flex-start;
                                    }
                                    .fc-next-button {
                                        justify-content: flex-end;
                                    }
                                }
                            }
                        }

                        // calendar main
                        .fc-view-harness {
                            width: 20vw;
                            height: 100% !important;
                            z-index: 0;

                            .fc-dayGridMonth-view {

                                .fc-scrollgrid {

                                    // Day
                                    .fc-col-header {
                                        width: 100% !important;
                                        height: 100% !important;

                                        .fc-scrollgrid-sync-inner a {
                                            font-size: 1vw;
                                        }
                                    }

                                    // Month
                                    .fc-daygrid-body {
                                        width: 100% !important;
                        
                                        .fc-scrollgrid-sync-table {
                                            width: 100% !important;
                                            height: 100% !important;
                                            margin: 0;
                                        }
                                        .fc-daygrid-day-frame {
                                            display: flex;
                                            align-items: center;

                                            .fc-daygrid-day-top {
                                                // display: block;
                                                width: 100%;
                                                height: 100%;
                                                margin: 0;
    
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
    
                                                .fc-daygrid-day-number { // a 태그
                                                    width: 1.7vw;
                                                    height: 1.7vw;
                                                    border-radius: 200px;
                                
                                                    padding: 0;
                                                    text-align: center;
                                                    font-size: 0.9vw;
                                                    font-family: 'SUIT', sans-serif;
                                
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
    
                                                    z-index: 1;
                                                }
                                            }

                                            .fc-daygrid-day-events {
                                                width: 100%;
                                                min-height: 100%;

                                                z-index: -1;

                                                position: absolute;
                                                top: 10.5%;
                                                left: 16%;

                                                .fc-event {
                                                    width: 1.7vw;
                                                    height: 1.7vw;

                                                    border: none;
                                                    border-radius: 1.7vw;
                                                    background-color: rgba(255, 255, 255, 0.7);
                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }

                        
            
                    }
                }
                

                .mypage_Todolist {
                    width: 100%;
                    height: 100%;

                    margin-top: 1.5vw;
                    overflow: hidden;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    
                    .mypage_Todolist_top {
                        width: 18vw;
                        height: 2.5vw;
                        margin-top: 1vw;
                        
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        .mypage_Todolist_title {
                            width: 100%;
                            display: inline-block;
                            font-size: 1.35vw;
                            letter-spacing: -0.05vw;
                            color: $fontmainColor;
                        }
    
                        .mypage_Todolist_plus {
                            width: 1vw;
                            height: 1vw;

                            display: inline-block;
                            margin-left: 5vw;
                            cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
    
                            position: relative;
    
                            .mypage_Todolist_plus_icon {
                                &::before, &::after {
                                    content:'';
                                    width: 1px;
                                    height: 1vw;
    
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    background-color: $fontmainColor;
                                }

                                &::after {
                                    transition: ease-out .3s all;
                                }
    
                                &::before {
                                    transform: rotate(-90deg);
                                    transition: ease-out .3s all;
                                }

                                &.mypage_Todolist_plus_icon_active {
                                    &::after {
                                        transform: rotate(135deg);
                                        transition: ease-out .3s all;
                                    }
        
                                    &::before {
                                        transform: rotate(45deg);
                                        transition: ease-out .3s all;
                                    }
                                }
                            }
                        }
                    }

                    .mypage_Todolist_middle {
                        width: 18vw;
                        max-height: 0;
                        overflow: hidden;
                        transition: linear .3s all;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &.mypage_Todolist_middle_active {
                            max-height: 5vw;
                        }

                        .mypage_Todolist_middle_input {
                            width: 15vw;
                            border: none;
                            // background-color: #FFF;
                            background-color: transparent;
                            border-bottom: 1px solid $borderColor-smooth;
                            padding: 0.3vw;
                            font-family: 'SUIT', sans-serif;
    
                        }

                        .mypage_Todolist_middle_btn {
                            height: 0.8vw;

                            margin-left: 1.5vw;
                            border: none;
                            background-color: transparent;
                            cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
                            font-size: 0.8vw;
                            color: $fontSubColor;
                            font-family: 'Ibarra Real Nova', serif;
                        }
                    }
                    
                    .mypage_Todolist_bottom {
                        width: 18vw;
                        height: 9vw;

                        margin-top: 1vw;
                        overflow: scroll;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                        
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        .mypage_Todolist_bottom_box {

                            .mypage_Todolist_contents { // ul
                                width: 100%;
    
                                .mypage_Todolist_detail { // li
                                    width: 100%;
                                    font-size: 0.85vw;
                                    color: $fontSubColor;
                                    font-family: 'Eulyoo1945', serif;
                                     
                                    display: grid;
                                    grid-template-columns: 1.3vw 15.4vw 1.3vw;

                                    position: relative;

                                    &:not(:last-child) {
                                        margin-bottom: 0.7vw;
                                    }
    
                                    p {
                                        display: inline-block;
                                        line-height: 1.2vw;
                                    }

                                    .mypage_Todolist_detail_check_box {

                                        display: flex;
                                        align-items: center;

                                        .mypage_Todolist_detail_check {
                                            position: relative;
                                        }
    
                                        input + label {
                                            display: inline-block;
                                            width: .8vw; height: .8vw;
                                            border: 1px solid #9b9179;
                                            cursor: url('../../img/circle/common/Cursor_Pointer.png'), auto;
                                        }

                                        input:checked + label {
                                            border: none;
                                            background: url('../../img/khlll/mypage/mypage_check.png') no-repeat;
                                            background-size: contain;
                                        }
                                        
                                        input {
                                            display: none;
                                        }

                                    }

                                    .mypage_Todolist_detail_dltBtn {
                                        width: 0.7vw;
                                        height: 0.7vw;
                                        cursor:  url('../../img/circle/common/Cursor_Pointer.png'), auto;

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        transform: translate(0, -50%);

                                        &::before, &::after {
                                            content:'';
                                            width: 1px;
                                            height: 0.7vw;
            
                                            position: absolute;
                                            top: 0;
                                            left: 50%;
                                            background-color: #8d8368;
                                        }
                                        &::before {
                                            transform: rotate(-45deg);
                                        }
                                        &::after {
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .mypage_timeTable {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.15);

                
                .mypage_timeTable_box {
                    width: 29.5vw;
                    height: 100%;

                    display: grid;
                    grid-template-columns: 0.5fr repeat(5, 1fr);
                    gap: 1vw;
                }
                                
                .mypage_timeTable_slot {

                    display: grid;
                    grid-template-rows: 0.5fr repeat(16, 0.5fr);
                    gap: 0.2vw;

                    .mypage_timeTable_slot_time, .mypage_timeTable_slot_day {
                        font-size: 0.8vw;
                        color: $fontmainColor;

                        display: flex;
                        justify-content: center;
                    }

                    .mypage_timeTable_slot_day {
                        font-weight: 500;
                        align-items: center;
                    }

                    .mypage_timeTable_detail {
                        padding: 0.4vw;
                        
                        font-size: 0.7vw;
                        color: $fontSubColor;
                        font-family: 'SUIT', sans-serif;
                        border-radius: 0.5vw;

                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        .mypage_timeTable_detail_classroom {
                            margin-top: 0.2vw;
                            font-size: 0.5vw;
                            color: #7e7560;
                        }
                    }
                    
                    .mypage_timeTable_slot_subject {
                        background-color: rgba(255, 255, 255, 0.45);
                    }
                    .mypage_timeTable_slot_select_subject {
                        background-color: #aba18d85;
                    }

                }

                .mypage_timeTable_slot1 {
                    .mypage_timeTable_slot_time{
                        grid-row: span 2;
                    }
                }

                .mypage_timeTable_slot2 {
                    .mypage_timeTable_slot_select_subject {
                        grid-row: span 3;
                    }
                    .mypage_subject1 {
                        grid-row: 6 / 8;
                    }
                    .mypage_subject2 {
                        grid-row: 8 / 11;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 17;
                    }
                }

                .mypage_timeTable_slot3 {
                    .mypage_subject1 {
                        grid-row: 3 / 5;
                    }
                    .mypage_subject2 {
                        grid-row: 7 / 11;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 15;
                    }
                }

                .mypage_timeTable_slot4 {
                    .mypage_subject1 {
                        grid-row: 2 / 4;
                    }
                    .mypage_timeTable_slot_select_subject {
                        grid-row: 5 / 8;
                    }
                    .mypage_subject2 {
                        grid-row: 8 / 11;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 16;
                    }
                }

                .mypage_timeTable_slot5 {
                    .mypage_subject1 {
                        grid-row: 2 / 4;
                    }
                    .mypage_subject2 {
                        grid-row: 5 / 10;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 17;
                    }
                }

                .mypage_timeTable_slot6 {
                    .mypage_select_subject1 {
                        grid-row: 2 / 5;
                    }
                    .mypage_subject1 {
                        grid-row: 5 / 9;
                    }
                    .mypage_subject2 {
                        grid-row: 9 / 11;
                    }
                    .mypage_select_subject2 {
                        grid-row: 13 / 16;
                    }
                }

            }
        }
    }
}

.fc .fc-daygrid-day.fc-day-today {
    background: none;

    div.fc-daygrid-day-top a.fc-daygrid-day-number {
        color: #fff;
        background-color: #D4B35B;
    }
}
