/*------------ font ------------*/
@font-face {
  font-family: "Eulyoo1945", serif;
  src: url("../../font/Eulyoo1945-Regular.eot"), url("../../font/Eulyoo1945-Regular.woff") format("woff"), url("../../font/Eulyoo1945-Regular.woff2") format("woff2"), url("../../font/Eulyoo1945-Regular.ttf") format(truetype);
}
#comm_container {
  width: 100%;
  background: url("../../img/khlll/background-default.png");
  background-size: cover;
  font-family: "Ibarra Real Nova", serif;
  overflow: hidden;
}

#mypage_contents {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
#mypage_contents .mypage_contents_line {
  width: 100%;
  border-top: 1px solid #69604b;
  border-bottom: 1px solid #69604b;
  display: flex;
  justify-content: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box {
  width: 80vw;
  height: 100%;
  border-left: 1px solid #AFA489;
  border-right: 1px solid #AFA489;
  display: grid;
  grid-template-columns: 21.6vw 1.2fr 1.3fr;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile {
  border-right: 1px solid #AFA489;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-rows: 2.3fr 1fr;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main {
  border-bottom: 1px solid #AFA489;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_house_dp {
  position: absolute;
  top: -2%;
  right: 4.7%;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_house_dp i {
  font-size: 2.5vw;
  color: #AA3939;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top {
  width: 100%;
  margin-top: 4.7vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_pic {
  width: 10.5vw;
  height: 10.5vw;
  position: relative;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_pic .mypage_profile_top_setting {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_pic .mypage_profile_top_setting svg {
  height: 1.5vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_pic .mypage_profile_top_img {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_pic .mypage_profile_top_img img {
  height: 100%;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_text {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_text .mypage_profile_top_name {
  font-size: 1.8vw;
  font-family: "Eulyoo1945", serif;
  font-weight: 400;
  letter-spacing: -0.1vw;
  color: #504733;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_top .mypage_profile_top_contents .mypage_profile_top_text .mypage_profile_top_year {
  font-size: 1vw;
  margin-top: 0.2vw;
  color: #504733;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_bottom {
  width: 100%;
  height: 7.3vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_bottom ul {
  width: 100%;
  height: 100%;
  padding: 0 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_bottom ul .mypage_profile_bottom_icon {
  width: 3.5vw;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_bottom ul .mypage_profile_bottom_icon svg {
  height: 2vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_bottom ul .mypage_profile_bottom_icon .mypage_profile_bottom_icon_new {
  width: 0.3em;
  height: 0.3em;
  background-color: #E71A1A;
  border-radius: 0.3em;
  position: absolute;
  top: 0;
  right: 0;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_main .mypage_profile_bottom ul .mypage_profile_bottom_icon .mypage_profile_bottom_text {
  width: 100%;
  height: 100%;
  display: inline;
  margin-top: 0.3vw;
  font-size: 0.7vw;
  font-weight: 500;
  text-align: center;
  color: #504733;
  font-family: "SUIT", sans-serif;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_left_menu {
  border-right: 1px solid #AFA489;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_left_menu ul {
  width: 100%;
  height: 100%;
  padding: 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_left_menu ul .mypage_profile_menu_text {
  width: 100%;
  height: 2vw;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_left_menu ul .mypage_profile_menu_text p {
  display: inline-block;
  font-size: 1vw;
  color: #504733;
  font-family: "SUIT", sans-serif;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_left_menu ul .mypage_profile_menu_text p:hover {
  font-weight: 500;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_right_menu {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_right_menu .mypage_profile_right_menu_text {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1.5vw;
  color: #504733;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_profile .mypage_profile_menu .mypage_profile_right_menu .mypage_profile_right_menu_arrow {
  width: 5.5vw;
  margin-top: 1vw;
  display: flex;
  justify-content: flex-end;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .fc-theme-standard .fc-scrollgrid, #mypage_contents .mypage_contents_line .mypage_contents_box .fc-theme-standard td, #mypage_contents .mypage_contents_line .mypage_contents_box .fc-theme-standard th {
  border: 0;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist {
  border-right: 1px solid #AFA489;
  display: grid;
  grid-template-rows: 1.25fr 1fr;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #AFA489;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar {
  width: 18vw;
  height: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-scroller::-webkit-scrollbar {
  display: none;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar {
  align-self: stretch;
  margin-bottom: 1vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  font-size: 1.6vw;
  color: #504733;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-today-button {
  display: none;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group {
  width: 4vw;
  margin-right: -0.5vw;
  display: flex;
  justify-content: space-between;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-button:focus {
  box-shadow: none !important;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-prev-button, #mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-next-button {
  background-color: transparent;
  border-color: transparent;
  color: #69604b;
  padding: 0;
  margin-left: 0;
  border: none;
  display: flex;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-prev-button span, #mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-next-button span {
  height: 1vw;
  line-height: 1vw;
  font-size: 1.5vw;
  text-align: left;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-prev-button {
  justify-content: flex-start;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-header-toolbar .fc-toolbar-chunk .fc-button-group .fc-next-button {
  justify-content: flex-end;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness {
  width: 20vw;
  height: 100% !important;
  z-index: 0;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-col-header {
  width: 100% !important;
  height: 100% !important;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-col-header .fc-scrollgrid-sync-inner a {
  font-size: 1vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-daygrid-body {
  width: 100% !important;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-daygrid-body .fc-scrollgrid-sync-table {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-daygrid-body .fc-daygrid-day-top {
  display: block;
  width: 100%;
  height: 100%;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-daygrid-body .fc-daygrid-day-top .fc-daygrid-day-number {
  width: 100%;
  height: 2.3vw;
  padding: 0;
  text-align: center;
  font-size: 0.9vw;
  font-family: "SUIT", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_calendar #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid .fc-daygrid-body .fc-daygrid-day-events {
  display: none;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist {
  width: 100%;
  height: 100%;
  margin-top: 1.5vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top {
  width: 18vw;
  height: 2.5vw;
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_title {
  width: 100%;
  display: inline-block;
  font-size: 1.35vw;
  letter-spacing: -0.05vw;
  color: #423620;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus {
  width: 1vw;
  height: 1vw;
  display: inline-block;
  margin-left: 5vw;
  cursor: pointer;
  position: relative;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus .mypage_Todolist_plus_icon::before, #mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus .mypage_Todolist_plus_icon::after {
  content: "";
  width: 1px;
  height: 1vw;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #423620;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus .mypage_Todolist_plus_icon::after {
  transition: ease-out 0.3s all;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus .mypage_Todolist_plus_icon::before {
  transform: rotate(-90deg);
  transition: ease-out 0.3s all;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus .mypage_Todolist_plus_icon.mypage_Todolist_plus_icon_active::after {
  transform: rotate(135deg);
  transition: ease-out 0.3s all;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_top .mypage_Todolist_plus .mypage_Todolist_plus_icon.mypage_Todolist_plus_icon_active::before {
  transform: rotate(45deg);
  transition: ease-out 0.3s all;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_middle {
  max-height: 0;
  overflow: hidden;
  transition: linear 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_middle.mypage_Todolist_middle_active {
  max-height: 5vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_middle .mypage_Todolist_middle_input {
  width: 12vw;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #AFA489;
  padding: 0.3vw;
  font-family: "SUIT", sans-serif;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_middle .mypage_Todolist_middle_btn {
  width: 2vw;
  height: 0.8vw;
  margin-left: 0.5vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8vw;
  color: #504733;
  font-family: "Ibarra Real Nova", serif;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom {
  width: 18vw;
  height: 9vw;
  margin-top: 1vw;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom::-webkit-scrollbar {
  display: none;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents {
  width: 100%;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail {
  width: 100%;
  font-size: 0.85vw;
  color: #504733;
  font-family: "Eulyoo1945", serif;
  display: grid;
  grid-template-columns: 1.3vw 15.4vw 1.3vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail:not(:last-child) {
  margin-bottom: 0.7vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail p {
  display: inline-block;
  line-height: 1.2vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_check_box {
  display: flex;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_check_box .mypage_Todolist_detail_check {
  position: relative;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_check_box input + label {
  display: inline-block;
  width: 0.8vw;
  height: 0.8vw;
  border: 1px solid #9b9179;
  cursor: pointer;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_check_box input:checked + label {
  border: none;
  background: url("../../img/khlll/check.png") no-repeat;
  background-size: contain;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_check_box input {
  display: none;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_dltBtn {
  position: relative;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_dltBtn .mypage_Todolist_detail_dltBtn_icon {
  width: 0.7vw;
  height: 0.7vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_dltBtn .mypage_Todolist_detail_dltBtn_icon::before, #mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_dltBtn .mypage_Todolist_detail_dltBtn_icon::after {
  content: "";
  width: 1px;
  height: 0.7vw;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #8d8368;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_dltBtn .mypage_Todolist_detail_dltBtn_icon::before {
  transform: rotate(-45deg);
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_calendar_Todolist .mypage_Todolist .mypage_Todolist_bottom .mypage_Todolist_bottom_box .mypage_Todolist_contents .mypage_Todolist_detail .mypage_Todolist_detail_dltBtn .mypage_Todolist_detail_dltBtn_icon::after {
  transform: rotate(45deg);
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_box {
  width: 29.5vw;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr repeat(5, 1fr);
  gap: 1vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot {
  display: grid;
  grid-template-rows: 0.5fr repeat(16, 0.5fr);
  gap: 0.2vw;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot .mypage_timeTable_slot_time, #mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot .mypage_timeTable_slot_day {
  font-size: 0.8vw;
  color: #423620;
  display: flex;
  justify-content: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot .mypage_timeTable_slot_day {
  font-weight: 500;
  align-items: center;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot .mypage_timeTable_detail {
  padding: 0.4vw;
  font-size: 0.7vw;
  color: #504733;
  font-family: "SUIT", sans-serif;
  border-radius: 0.5vw;
  display: flex;
  align-items: flex-end;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot .mypage_timeTable_slot_subject {
  background-color: rgba(255, 255, 255, 0.45);
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot .mypage_timeTable_slot_select_subject {
  background-color: rgba(171, 161, 141, 0.5215686275);
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot1 .mypage_timeTable_slot_time {
  grid-row: span 2;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot2 .mypage_timeTable_slot_select_subject {
  grid-row: span 3;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot2 .mypage_subject1 {
  grid-row: 6/8;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot2 .mypage_subject2 {
  grid-row: 8/11;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot2 .mypage_subject3 {
  grid-row: 13/17;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot3 .mypage_subject1 {
  grid-row: 3/5;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot3 .mypage_subject2 {
  grid-row: 7/11;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot3 .mypage_subject3 {
  grid-row: 13/15;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot4 .mypage_subject1 {
  grid-row: 2/4;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot4 .mypage_timeTable_slot_select_subject {
  grid-row: 5/8;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot4 .mypage_subject2 {
  grid-row: 8/11;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot4 .mypage_subject3 {
  grid-row: 13/16;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot5 .mypage_subject1 {
  grid-row: 2/4;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot5 .mypage_subject2 {
  grid-row: 5/10;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot5 .mypage_subject3 {
  grid-row: 13/17;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot6 .mypage_select_subject1 {
  grid-row: 2/5;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot6 .mypage_subject1 {
  grid-row: 5/9;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot6 .mypage_subject2 {
  grid-row: 9/11;
}
#mypage_contents .mypage_contents_line .mypage_contents_box .mypage_timeTable .mypage_timeTable_slot6 .mypage_select_subject2 {
  grid-row: 13/16;
}/*# sourceMappingURL=mypage.css.map */