/*------------ font ------------*/

@font-face {
    font-family: 'Eulyoo1945', serif;
    src: url('../../font/Eulyoo1945-Regular.eot'),
        url('../../font/Eulyoo1945-Regular.woff') format('woff'),
        url('../../font/Eulyoo1945-Regular.woff2') format('woff2'),
        url('../../font/Eulyoo1945-Regular.ttf') format(truetype);
}

// font-family: 'SUIT', sans-serif;
// font-family: 'Ibarra Real Nova', serif;
// font-family: 'Eulyoo1945', serif;

$fontmainColor: #423620;
$fontSubColor: #504733;
$borderColor: #69604b;
$borderColor-smooth: #AFA489;

#comm_container {
    width: 100%;

    background: url("../../images/background-default.png");
    background-size: cover;
    font-family: 'Ibarra Real Nova', serif;
    overflow: hidden;
}

#mypage_contents {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;

    .mypage_contents_line {
        width: 100%;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        display: flex;
        justify-content: center;

        .mypage_contents_box {
            width: 80vw;
            height: 100%;
            
            border-left: 1px solid $borderColor-smooth;
            border-right: 1px solid $borderColor-smooth;

            display: grid;
            grid-template-columns: 21.6vw 1.2fr 1.3fr;

            .mypage_profile {
                border-right: 1px solid $borderColor-smooth;
                background-color: rgba(255, 255, 255, 0.2);
                
                display: grid;
                grid-template-rows: 2.3fr 1fr;

                .mypage_profile_main {
                    border-bottom: 1px solid $borderColor-smooth;
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .mypage_profile_house_dp {
                        position: absolute;
                        top: -2%;
                        right: 4.7%;

                        i {
                            font-size: 2.5vw;
                            color: #AA3939;
                        }
                    }

                    .mypage_profile_top {
                        width: 100%;
                        margin-top: 4.7vw;

                        .mypage_profile_top_contents {
                            width: 100%;
                            height: 100%;
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            
                            .mypage_profile_top_pic {
                                width: 10.5vw;
                                height: 10.5vw;

                                position: relative;

                                .mypage_profile_top_setting {
                                    cursor: pointer;

                                    position: absolute;
                                    top: 0;
                                    right: 0;

                                    svg {
                                        height: 1.5vw;
                                    }
                                }

                                .mypage_profile_top_img {
                                    width: 100%;
                                    height: 100%;

                                    border-radius: 200px;
                                    overflow: hidden;

                                    display: flex;
                                    justify-content: center;

                                    img {
                                        height: 100%;
                                    }
                                }
                            }

                            .mypage_profile_top_text {
                                margin-top: 1vw;

                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .mypage_profile_top_name {
                                    font-size: 1.8vw;
                                    font-family: 'Eulyoo1945', serif;
                                    font-weight: 400;
                                    letter-spacing: -0.1vw;
                                    color: $fontSubColor;
                                }
                                .mypage_profile_top_year {
                                    font-size: 1vw;
                                    margin-top: 0.2vw;
                                    color: $fontSubColor;
                                }
                            }
                        }
                    }

                    .mypage_profile_bottom {
                        width: 100%;
                        height: 7.3vw;
                        ul {
                            width: 100%;
                            height: 100%;
                            padding: 0 3vw;

                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .mypage_profile_bottom_icon {
                                width: 3.5vw;
                                cursor: pointer;
                                
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                position: relative;

                                svg {
                                    height: 2vw;
                                }

                                .mypage_profile_bottom_icon_new {
                                    width: 0.3em;
                                    height: 0.3em;

                                    background-color: #E71A1A;
                                    border-radius: 0.3em;

                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }

                                .mypage_profile_bottom_text {
                                    width: 100%;
                                    height: 100%;

                                    display: inline;
                                    margin-top: 0.3vw;
                                    font-size: 0.7vw;
                                    font-weight: 500;
                                    text-align: center;
                                    color: $fontSubColor;
                                    font-family: 'SUIT', sans-serif;
                                }
                            }

                        }

                    }
                }

                .mypage_profile_menu {
                    background-color: rgba(255, 255, 255, 0.1);

                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .mypage_profile_left_menu {
                        border-right: 1px solid $borderColor-smooth;

                        ul {
                            width: 100%;
                            height: 100%;
                            padding: 2vw 0;

                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;

                            .mypage_profile_menu_text {
                                width: 100%;
                                height: 2vw;
                                
                                text-align: center;
                                cursor: pointer;

                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                p {
                                    display: inline-block;
                                    font-size: 1vw;
                                    color: $fontSubColor;
                                    font-family: 'SUIT', sans-serif;

                                    &:hover {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        
                    }

                    .mypage_profile_right_menu {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .mypage_profile_right_menu_text {
                            font-size: 1.5vw;
                            font-weight: 500;
                            line-height: 1.5vw;
                            color: $fontSubColor;
                        }

                        .mypage_profile_right_menu_arrow {
                            width: 5.5vw;
                            margin-top: 1vw;

                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            .mypage_calendar_Todolist {
                border-right: 1px solid $borderColor-smooth;

                display: grid;
                grid-template-rows: 1.25fr 1fr;

                .mypage_calendar {
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid $borderColor-smooth;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    #calendar {
                        width: 18vw;
                        height: 16vw;
                    }
                }

                .mypage_Todolist {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    .mypage_Todolist_top {
                        width: 18vw;
                        height: 3.5vw;
                        
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        .mypage_Todolist_title {
                            width: 100%;
                            display: inline-block;
                            font-size: 1.35vw;
                            letter-spacing: -0.05vw;
                            color: $fontmainColor;
                        }
    
                        .mypage_Todolist_plus {
                            width: 1vw;
                            height: 1vw;

                            margin-left: 5vw;
                            cursor: pointer;
    
                            position: relative;
    
                            .mypage_Todolist_plus_icon {
                                &::before, &::after {
                                    content:'';
                                    width: 1px;
                                    height: 1vw;
    
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    background-color: $fontmainColor;
                                }
    
                                &::before { transform: rotate(-90deg); }
                            }
                        }
                    }
                    
                    .mypage_Todolist_bottom {
                        width: 18vw;
                        height: 10vw;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .mypage_Todolist_contents { // ul
                            width: 100%;

                            .mypage_Todolist_detail {
                                font-size: 0.85vw;
                                color: $fontSubColor;
                                font-family: 'Eulyoo1945', serif;

                                display: grid;
                                grid-template-columns: 1.3vw 1fr;

                                &:not(:last-child) {
                                    margin-bottom: 0.7vw;
                                }

                                p {
                                    display: inline-block;
                                    line-height: 1.2vw;
                                }
                            }
                        }
                    }

                }
            }

            .mypage_timeTable {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.15);

                
                .mypage_timeTable_box {
                    width: 29.5vw;
                    height: 100%;

                    display: grid;
                    grid-template-columns: 0.5fr repeat(5, 1fr);
                    gap: 1vw;
                }
                                
                .mypage_timeTable_slot {

                    display: grid;
                    grid-template-rows: 0.5fr repeat(16, 0.5fr);
                    gap: 0.2vw;

                    .mypage_timeTable_slot_time, .mypage_timeTable_slot_day {
                        font-size: 0.8vw;
                        color: $fontmainColor;

                        display: flex;
                        justify-content: center;
                    }

                    .mypage_timeTable_slot_day {
                        font-weight: 500;
                        align-items: center;
                    }

                    .mypage_timeTable_detail {
                        padding: 0.4vw;
                        
                        font-size: 0.7vw;
                        color: $fontSubColor;
                        font-family: 'SUIT', sans-serif;
                        border-radius: 0.5vw;

                        display: flex;
                        align-items: flex-end;
                    }
                    
                    .mypage_timeTable_slot_subject {
                        background-color: rgba(255, 255, 255, 0.45);
                    }
                    .mypage_timeTable_slot_select_subject {
                        background-color: #aba18d85;
                    }

                }

                .mypage_timeTable_slot1 {
                    .mypage_timeTable_slot_time{
                        grid-row: span 2;
                    }
                }

                .mypage_timeTable_slot2 {
                    .mypage_timeTable_slot_select_subject {
                        grid-row: span 3;
                    }
                    .mypage_subject1 {
                        grid-row: 6 / 8;
                    }
                    .mypage_subject2 {
                        grid-row: 8 / 11;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 17;
                    }
                }

                .mypage_timeTable_slot3 {
                    .mypage_subject1 {
                        grid-row: 3 / 5;
                    }
                    .mypage_subject2 {
                        grid-row: 7 / 11;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 15;
                    }
                }

                .mypage_timeTable_slot4 {
                    .mypage_subject1 {
                        grid-row: 2 / 4;
                    }
                    .mypage_timeTable_slot_select_subject {
                        grid-row: 5 / 8;
                    }
                    .mypage_subject2 {
                        grid-row: 8 / 11;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 16;
                    }
                }

                .mypage_timeTable_slot5 {
                    .mypage_subject1 {
                        grid-row: 2 / 4;
                    }
                    .mypage_subject2 {
                        grid-row: 5 / 10;
                    }
                    .mypage_subject3 {
                        grid-row: 13 / 17;
                    }
                }

                .mypage_timeTable_slot6 {
                    .mypage_select_subject1 {
                        grid-row: 2 / 5;
                    }
                    .mypage_subject1 {
                        grid-row: 5 / 9;
                    }
                    .mypage_subject2 {
                        grid-row: 9 / 11;
                    }
                    .mypage_select_subject2 {
                        grid-row: 13 / 16;
                    }
                }

            }
        }
    }
}
